@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gpuo0i');
  src:  url('fonts/icomoon.eot?gpuo0i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gpuo0i') format('truetype'),
    url('fonts/icomoon.woff?gpuo0i') format('woff'),
    url('fonts/icomoon.svg?gpuo0i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-play:before {
  content: "\e915";
}
.ic-chevron-prev:before {
  content: "\e913";
}
.ic-chevron-next:before {
  content: "\e914";
}
.ic-close:before {
  content: "\e912";
}
.ic-faq:before {
  content: "\e90f";
}
.ic-breadcrumb:before {
  content: "\e90d";
}
.ic-select:before {
  content: "\e910";
}
.ic-home:before {
  content: "\e90e";
}
.ic-mail:before {
  content: "\e908";
}
.ic-user:before {
  content: "\e909";
}
.ic-phone:before {
  content: "\e90a";
}
.ic-more:before {
  content: "\e900";
}
.ic-chat:before {
  content: "\e901";
}
.ic-star-full:before {
  content: "\e911";
}
.ic-star:before {
  content: "\e902";
}
.ic-prev:before {
  content: "\e903";
}
.ic-next:before {
  content: "\e904";
}
.ic-next-bottom:before {
  content: "\e90b";
}
.ic-prev-top:before {
  content: "\e90c";
}
.ic-instagram:before {
  content: "\e905";
}
.ic-twitter:before {
  content: "\e906";
}
.ic-facebook:before {
  content: "\e907";
}
