@import "bourbon"
@import "fonts"
@import "vars"

//Load Libs
@import "../libs/normalize-css/normalize.css"
@import "../libs/magnific-popup/magnific-popup.css"
@import "../libs/swiper/swiper.min.css"
@import "../libs/select2/select2.min.css"
@import "../libs/range-slider/ion.rangeSlider.min.css"

*
	outline: none !important
	box-sizing: border-box

::placeholder
	opacity: 1

html, body
	height: 100%

body
	overflow: hidden
	position: relative
	min-width: 320px
	// background: #fff
	font-family: $font
	font-size: 16px
	line-height: 1.5
	color: #222
	cursor: none

a
	text-decoration: none
	color: $color
	cursor: none
	&:hover
		text-decoration: underline
		cursor: none

.link-more
	display: inline-block
	position: relative
	padding-right: 35px
	font-weight: 500
	color: inherit
	&:after
		position: absolute
		top: 50%
		right: 0
		margin-top: -10px
		content: "\e900"
		+ic
		font-size: 19px
		transition: transform .4s
	&:hover
		text-decoration: none
		&:after
			transform: translateX(5px)

.link-more_accent
	&:after
		color: $color

.link-head
	color: inherit
	transition: .5s
	&:hover
		text-decoration: none
		color: $color

button
	// cursor: pointer

b, strong
	font-weight: bold

p
	margin: 0 0 1rem

ul, ol
	margin: 0 0 1rem

ul
	padding: 0
	list-style: none

blockquote
	margin: 0 0 1rem
	padding: 0 0 0 62px
	min-height: 40px
	background: url('../img/ic-quote.svg') no-repeat 0 5px
	font-family: $font-2
	font-weight: bold
	font-size: 18px
	line-height: 1.4

h1, h2, h3, h4, h5, h6
	margin: 0 0 1rem
	font-family: $font-2
	font-weight: bold
h1, h2
	line-height: 1.25
	font-size: 45px
h3
	line-height: 1.35
	font-size: 35px
h4
	font-size: 24px
h5
	font-size: 18px
h6
	text-transform: uppercase
	font-family: $font
	font-weight: 500
	font-size: 18px

table
	border-collapse: collapse
	border-spacing: 0
	width: 100%
	td, th
		padding: 10px
		border-bottom: 1px solid #f4f4f4
		text-align: left
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
		&:nth-child(2):last-child
			text-align: right
	tr:last-child
		td, th
			border-bottom: none

img
	display: inline-block
	max-width: 100%
	height: auto

input, button, label, select, textarea
	cursor: none

#smooth-scrollbar
	height: 100vh
#wrapper
	position: relative
	display: flex
	overflow: hidden
	&__wrap
		display: flex
		flex-direction: column
		min-height: 100vh
		width: 100%
	&__center
		flex: 1 0 auto
		width: 100%

.clearfix:after
	content: ''
	display: table
	clear: both

.hidden
	display: none

.container
	width: 2560px
	margin: 0 auto
	padding: 0 400px

.section
	margin: 115px 0

.img-center
	position: relative
	img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		width: auto
		height: auto
		max-width: 100%
		max-height: 100%

.text-pink
	color: $color
.text-orange
	color: $color-2

.content
	>:first-child
		margin-top: 0
	>:last-child
		margin-bottom: 0
	blockquote
		margin: 40px 0
	ul
		margin: 45px 0
		li
			position: relative
			padding-left: 30px
			margin-bottom: 1.35rem
			&:last-child
				margin-bottom: 0
			&:before
				content: ''
				position: absolute
				top: .4em
				left: 0
				width: 9px
				height: 9px
				background: $color-2
				border-radius: 50%

.content-gallery
	margin: 45px 0
	&__grid
		display: flex
		flex-wrap: wrap
		margin: 0 -9px -18px
	&__item
		flex: 0 0 50%
		max-width: 50%
		padding: 0 9px 18px
		.main-img
			&:before
				content: ''
				display: block
				width: 100%
				padding-bottom: 78%
