@import "bourbon"

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 2559px)
	.header
		transform: translateY(40px)
		&__grid
			margin: 0 -60px
		&__call
			flex: 0 0 70px
			max-width: 70px
			height: 70px
			.btn-call:not(.btn-call_small)
				transform: translateY(127px)
		// &.fixed
		// 	.header__call
		// 		.btn-call:not(.btn-call_small)
		// 			transform: translateY(18px)

	.section
		margin: 110px 0

	.home-line-one
		&--right::before
			right: 212px
		&--left::before
			margin: 0 0 0 -550px

	.logo
		width: 340px

	.container
		padding: 0 150px
		width: 1920px

	.first
		padding: 185px 0 0
		&__wrap
			// margin: 0 -60px
			padding-bottom: 70px
		&::before
			margin-left: -550px
		&__social
			padding: 40px 0 40px 90px
			min-width: 274px
		.container
			padding: 0 90px

	.first-slider
		margin: -20px -90px 0
		padding: 20px 90px 0
		&__video
			top: 315px
			left: 410px
			right: 90px
		.swiper-fraction
			top: 52px
			left: 730px
		.swiper-nav
			left: 90px
			width: 320px
			.swiper-button-prev,
			.swiper-button-next
				font-size: 50px
				.ic
					line-height: 70px
			.swiper-button-next
				margin-left: 80px
		&.swiper-container-horizontal
			.swiper-pagination-bullets
				margin: 0 -90px 0 0
				max-width: 90px

	.first-item
		// height: 805px
		padding-bottom: 70px
		&__title
			margin-bottom: 70px
			&::before
				bottom: -35px
				left: -125px
				width: 175px
			h2
				font-size: 50px
		&__img
			flex: 0 0 555px
			max-width: 555px
		&__main
			margin-top: 225px
			padding: 0 100px 0 85px
		&__content
			margin-bottom: 85px
		.link-more
			font-size: 18px

	.swiper-nav
		width: 280px
		.swiper-button-prev,
		.swiper-button-next
			width: 65px
			font-size: 50px
			.ic
				line-height: 65px
		.swiper-button-next
			margin-left: 80px
		&_chevron
			width: 130px
			.swiper-button-next
				margin-left: 0

	.benefit-item
		&__head
			&:before
				font-size: 65px

	.gallery-item
		.main-img
			height: 240px

	.gallery-item_big
		.main-img
			height: 496px

	.news-slider
		padding-bottom: 160px

	.news
		padding: 0 0 140px
		&:before
			margin-left: 260px
		.news-item
			// padding-right: 120px
		&__action
			margin-top: 98px

	.news-item
		&__img
			.main-img
				width: 460px
		&__content
			min-height: 380px
		&__date,
		&__head
			margin-bottom: 1.875rem

	.more-box
		.link-more
			font-size: 18px

	.subscribe
		&__icon
			width: 98px
			top: 65px
			left: 65px
		&__form
			padding: 70px 65px 80px 210px

	.advant
		&::before
			font-size: 65px

	.v-reviews
		&__text-box
			width: 460px
			min-height: 340px
			padding: 60px 50px

	.v-review
		padding: 0 0 65px 135px
		&__img
			height: 495px
			.btn
				top: 220px
		// &__box
		// 	width: 460px
		// 	min-height: 340px
		// 	padding: 60px 50px

	.v-reviews-slider
		max-width: 960px
		.swiper-nav
			left: 460px

	.form-item
		&__icon
			width: 26px
			font-size: 22px

	.small-news
		&__img
			flex: 0 0 100px
			max-width: 100px
			height: 90px
		&__date
			margin-bottom: .5rem

	.foot-main
		&:nth-child(4)
			flex: 0 0 336px
			max-width: 336px
		&__gallery
			.main-img
				height: 100px

	.title
		margin-bottom: 90px
		h1, h2
			&:before
				width: 100px

	.first-inn
		padding: 185px 0 0

	.main-inn-line
		&::before
			margin: 0 0 0 -263px
		&_catalog
			&::before
				margin: 0 0 0 -416px

	.albums-slider
		padding-left: 150px
		.swiper-nav
			top: 220px
			margin-top: -32px

	.album
		width: 550px

	.gallery__grid_big
		.gallery-item .main-img
			height: 301px
		.gallery-item_big .main-img
			height: 617px

	.review
		.main-img
			max-width: 250px

	.aside-gallery
		max-width: 370px

	.article
		&__img
			height: 635px

	.articles-slider
		padding-bottom: 65px

	.catalog
		&__grid
			margin: 0 -20px -90px
			&--favorite
				margin: 0 -44px -90px
		&__col
			margin: 0 20px 90px
			&--favorite
				margin: 0 44px 90px

	.product
		&__wrapper
			&:before
				bottom: 85px
				// height: 370px

	.product-slider
		.swiper-nav
			width: 340px
			margin-left: -170px

	.product-action
		&__more
			margin-top: 23px

	.btn
		padding: 21px
		min-width: 260px

	.btn-call
		width: 70px
		height: 295px
		font-size: 18px
		.ic
			top: 30px
			font-size: 34px
		span
			top: 88px
			left: 46px

	.btn-call_small,
	.header.fixed .header__call .btn-call:not(.btn-call_small)
		height: 70px
		.ic
			top: 50%
			transform: translateY(-50%)

	.btn-icon
		width: 70px
		height: 70px
		font-size: 30px
		line-height: 70px
		.ic
			line-height: 70px

	.pagination
		margin-left: 548px

@media only screen and (max-width : 1919px)
	body
		font-size: 15px
	h1, h2
		font-size: 30px
	h3
		font-size: 24px
	h4
		font-size: 18px
	h5
		font-size: 15px
	h6
		font-size: 14px
	.section
		margin: 95px 0
	.header
		transform: translateY(15px)
		&__grid
			margin: 0
		&__call
			flex: 0 0 50px
			max-width: 50px
			height: 50px
			.btn-call:not(.btn-call_small)
				transform: translateY(90px)

	.home-line-one
		&--right::before
			right: 200px
		&--left::before
			margin: 0 0 0 -418px

	.logo
		max-width: 250px
		width: auto

	.lang-menu
		font-size: 14px

	.container
		width: 1366px
		padding: 0 65px

	.menu
		font-size: 14px

	.first
		padding: 130px 0 0
		&__wrap
			margin: 0
			padding-bottom: 65px
		&::before
			margin-left: -418px
		&__social
			padding: 30px 0 30px 55px
			min-width: 200px
		.container
			padding: 0 65px

	.social
		font-size: 12px

	.social-item
		font-size: 17px

	.first-slider
		margin: -20px -65px 0
		padding: 20px 65px 0
		&__video
			top: 235px
			left: 265px
			right: 65px
		.swiper-fraction
			top: 52px
			left: 585px
		.swiper-nav
			left: 65px
			width: 200px
			.swiper-button-prev,
			.swiper-button-next
				font-size: 40px
				.ic
					line-height: 50px
			.swiper-button-next
				margin-left: 55px
		&.swiper-container-horizontal
			.swiper-pagination-bullets
				margin: 0 -65px 0 0
				max-width: 65px

	.first-item
		// height: 575px
		padding-bottom: 50px
		&__title
			margin-bottom: 50px
			&::before
				bottom: -25px
				left: -90px
				width: 125px
			h2
				font-size: 40px
		&__img
			flex: 0 0 395px
			max-width: 395px
		&__main
			margin-top: 155px
			padding: 0 100px 0 60px
		&__content
			margin-bottom: 20px
		.link-more
			font-size: inherit

	.swiper-nav
		width: 200px
		.swiper-button-prev,
		.swiper-button-next
			width: 50px
			font-size: 40px
			.ic
				line-height: 50px
		.swiper-button-next
			margin-left: 55px
		&_chevron
			width: 110px
			.swiper-button-prev,
			.swiper-button-next
				width: 55px
			.swiper-button-next
				margin-left: 0

	.swiper-fraction
		font-size: 22px
		span:first-child
			font-size: 50px

	.benefit-item
		&__head
			&:before
				font-size: 50px

	.gallery__grid
		margin: 0 -6px -12px

	.gallery-item
		padding: 0 6px 12px
		.main-img
			height: 184px

	.gallery-item_big
		.main-img
			height: 380px

	.news
		padding: 0 0 100px
		&:before
			margin-left: 200px
		.news-item
			padding-right: 80px
		&__action
			margin-top: 75px

	.news-slider
		padding-bottom: 125px
		.news-item
			padding-right: 0

	.news-item
		&__img
			.main-img
				width: 395px
		&__content
			min-height: 280px
		&__date,
		&__head
			margin-bottom: 1.3rem
		&__date
			font-size: inherit

	.more-box
		padding: 35px 0 0
		.link-more
			font-size: inherit

	.subscribe
		&__icon
			width: 75px
			top: 50px
			left: 50px
		&__form
			padding: 50px 50px 65px 165px

	.form-item
		&__icon
			width: 20px
			font-size: 20px

	.advant
		&::before
			font-size: 50px

	.v-reviews
		&__left
			&:after
				bottom: 130px
		.link-more
			font-size: inherit
		&__text-box
			width: 355px
			min-height: 265px
			padding: 50px 35px 40px 40px

	.v-review
		padding: 0 0 50px 100px
		&__img
			height: 380px
			.btn
				top: 165px
		// &__box
		// 	width: 355px
		// 	min-height: 265px
		// 	padding: 50px 35px 40px 40px

	.v-reviews-slider
		max-width: 734px
		.swiper-nav
			left: 355px

	.small-news
		&__img
			flex: 0 0 80px
			max-width: 80px
			height: 70px
		&__date
			margin-bottom: .2rem

	.foot-main
		&:nth-child(4)
			flex: 0 0 258px
			max-width: 258px
		&__list
			font-size: 12px
		&__gallery
			.main-img
				height: 76px

	.title
		margin-bottom: 70px
		h1, h2
			&:before
				width: 80px

	.first-inn
		padding: 130px 0 0

	.breadcrumbs
		&__list
			font-size: 14px

	.main-inn-line
		&::before
			margin: 0 0 0 -200px
		&_catalog
			&::before
				margin-left: -225px

	.albums-slider
		padding-left: 100px
		.swiper-nav
			top: 194px
			margin-top: -25px

	.album
		width: 500px

	.gallery__grid_big
		.gallery-item .main-img
			height: 230px
		.gallery-item_big .main-img
			height: 472px

	.review
		.main-img
			max-width: 220px
		&__hidden
			padding: 60px 45px

	.aside-gallery
		max-width: 328px

	.article
		&__img
			height: 480px

	.articles-slider
		padding-bottom: 50px

	.catalog
		&__grid
			margin: 0 -39px -90px
			&--favorite
				margin: 0 -39px -90px
		&__col
			margin: 0 39px 90px
			&--favorite
				margin: 0 39px 90px

	.product
		&__wrapper
			&:before
				bottom: 105px
				// height: 350px

	.product-slider
		.swiper-nav
			width: 314px
			margin-left: -157px

	.product-action
		&__more
			margin-top: 15px

	.btn
		padding: 16px
		min-width: 200px
		font-size: 14px

	.btn-call
		width: 50px
		height: 215px
		font-size: 14px
		.ic
			top: 20px
			font-size: 25px
		span
			top: 58px
			left: 35px

	.btn-call_small,
	.header.fixed .header__call .btn-call:not(.btn-call_small)
		height: 50px
		.ic
			top: 50%
			transform: translateY(-50%)

	.btn-icon
		width: 50px
		height: 50px
		font-size: 25px
		line-height: 50px
		.ic
			line-height: 50px

	.pagination
		margin-left: 418px

@media only screen and (max-width : 1299px)
	.container
		width: 970px
		padding: 0 15px

	.title-sort
		margin-bottom: 50px
	.title-sort__wrap
		flex: 0 0 44%
		max-width: 44%
	.title-sort__wrap
		&:before, &:after
			display: none

	.title-tabs
		margin-bottom: 45px
	.title-tabs__wrap
		min-width: 275px

	.title_line
		&:before
			right: 65%
		&:after
			left: 65%

	.btn-call
		height: 50px
		.ic
			top: 50%
			transform: translateY(-50%)
			// top: 14px
		span
			opacity: 0
			visibility: hidden

	.header__grid
		padding: 25px 0
	.header__lang
		margin-right: auto
	.header__menu
		display: none

	.header__btn,
	.header__call
		margin-right: 5px
	.header__btn
		order: 1
	.header__call .btn-call:not(.btn-call_small)
		position: relative
		transform: none !important

	.header__toggle
		display: block

	.first:before,
	.home-line-one--left:before
		margin-left: -270px

	.main-inn-line:before
		margin-left: -149px
	.main-inn-line_catalog:before
		margin-left: -41px

	.first
		.container
			padding: 0 15px

	.first__mouse
		display: none

	.first-item__img
		flex: 0 0 320px
		max-width: 320px

	.first-slider .swiper-fraction
		left: 445px

	.benefits-slider
		margin: 0
		padding: 0 0 35px
		overflow: visible
		.swiper-nav
			left: 395px
			margin-left: 50px
			display: flex
			width: 120px
			padding: 0
			background: none
			color: #B4B4B4
			.swiper-button-next
				margin-left: 40px
	.benefit-item
		width: 395px

	.gallery-item .main-img
		height: 178px
	.gallery-item_big .main-img
		height: 368px

	.gallery__grid_big
		.gallery-item .main-img
			height: 184px
		.gallery-item_big .main-img
			height: 380px

	.news:before
		display: none
	.news__wrap
		display: block
	.news__left
		max-width: 840px
	.news__right
		display: none

	.news__grid .news-item:nth-child(2)
		flex: 0 0 50%
		max-width: 50%

	.subscribe__form
		padding: 50px 50px 50px 165px
	.subscribe__title,
	.subscribe__field
		margin-right: 30px

	.foot-main__col:nth-child(1)
		flex: 1 0 0
		max-width: 100%
		padding-right: 50px
	.foot-main__col:nth-child(2)
		display: none
	.foot-main__col:nth-child(3)
		flex: 0 0 165px
		max-width: 165px
		padding-right: 50px

	.reviews-inn .title-tabs
		margin-left: 0

	.review__main
		padding: 20px 0 0
	.review__hidden
		padding: 40px 30px

	.pagination
		margin-left: 321px

	.news-inn__grid
		max-width: 818px
		margin: 0 auto
		flex-wrap: wrap
	.news-inn__main
		flex: 0 0 100%
		max-width: 100%
	.news-inn__aside
		flex: 1 0 0
		max-width: none
		order: 1
		padding: 0
		margin-top: 100px
		display: flex
		flex-wrap: wrap
		margin: 50px -20px 0
		>*
			display: none
	.news-inn__aside-mob
		display: block
		flex: 0 0 50%
		max-width: 50%
		padding: 45px 20px 0
		margin: 0
		border-bottom: none

	.about-contacts__main
		padding: 50px
	.about-contacts__form
		padding: 50px 0 0 50px

	.s-form__wrap
		padding: 50px

	.contacts-inn__left
		padding-right: 60px

	.catalog__wrapper
		padding: 0
		margin: 0 auto
		max-width: 818px

	.catalog__aside,
	.catalog__main
		flex: 0 0 100%
		max-width: 100%
		padding: 0
	.catalog__main
		order: 1
		margin: 0 auto
	.catalog__aside
		margin-bottom: 100px

	.catalog__main:first-child:last-child
		padding-top: 40px

	.catalog__grid
		justify-content: center

	.filter__grid
		margin: 0 -20px -40px
	.filter__item
		flex: 0 0 50%
		max-width: 50%
		padding: 0 20px
		margin-bottom: 40px
		&:nth-child(1),
		&:nth-child(3)
			order: -1

	.catalog__main .pagination
		margin-left: 368px

	.product-top
		margin-bottom: 20px

	.product__wrapper
		padding: 0
		min-height: 0
	.product__wrapper:before
		display: none
	.product__wrap
		padding: 0
		min-height: 0
	.product__content
		padding: 0
		margin-bottom: 40px

	.product-slider
		padding: 0 0 0 10px
		top: auto
		width: 390px
	.product-slider .swiper-container-horizontal .swiper-pagination-bullets
		left: 0
		right: auto
		margin: 0
		width: auto !important

	.product__price
		padding: 0 0 0 410px
		margin: 140px 0 30px

	.product-action
		position: relative
		min-height: 339px
		padding: 0 0 0 410px
		background: none
		&:before
			content: ''
			position: absolute
			z-index: -10
			left: 50%
			bottom: 0
			margin: 0 0 0 -50vw
			width: 100vw
			height: 420px
			background: #F4F4F4
		&__grid
			padding: 0
			height: auto

	.product-action__fav
		margin-right: 12px
	.product-action__thumbs
		flex: 0 0 100%
		max-width: 100%
		position: static
		padding-left: 35px
		margin-bottom: 10px
	.product-action__thumb
		width: 76px
		height: 76px
		margin: 0 0 15px 15px
	.product-action__video
		position: relative
		margin-left: 50px
		flex: 1 0 0
		max-width: 258px
		width: auto
		height: 155px

	.product-action__thumb
		background: #fff

	.product-specs
		display: block
	.product-specs__left,
	.product-specs__form
		max-width: 100%

	.product-advants
		margin-top: 70px
	.product-advants:after
		display: none

	.product-advant:nth-child(n)
		align-items: flex-start
		.product-advant__content
			padding: 25px 0 25px 50px
		.product-advant__img
			flex: 0 0 320px
			max-width: 320px
			height: 390px
	.product-advant:nth-child(2n)
		.product-advant__content
			padding-left: 0
			padding-right: 50px
	.product-advant:nth-child(n+2)
		margin-top: 70px

	.product-info
		&__top
			flex-wrap: wrap
			justify-content: center
			align-items: center
		&__logo
			&--first
				margin-bottom: 15px
			&--second
				margin-left: auto
		&__properties
			order: 1
			flex-grow: 0
		&__property
			width: auto
		&__grid
			padding: 0
		// &__list li
		// 	padding-left: 45px

	.product-addons__slider
		flex: 0 0 550px
		max-width: 550px
		padding: 75px 50px 50px
	.product-addons__slide
		position: relative
	.product-addons__slide .product-addons__title
		display: block
		position: absolute
		top: 0
		left: 0
		z-index: 2
		width: 100%
	.product-addons__main
		padding: 0 0 0 55px

	.product-addons__items
		display: none

	.articles-slider
		overflow: visible
		.swiper-slide
			width: 395px

@media only screen and (max-width : 991px)
	.container
		width: 750px

	.form__grid
		margin-bottom: -30px
		.form-action__policy
			margin-bottom: 25px
	[class*="form__col"]
		flex: 0 0 100%
		max-width: 100%
		padding-bottom: 30px
	.form__col-33p
		flex: 0 0 50%
		max-width: 50%

	.form-action
		text-align: center

	.s-form
		&__wrap
			padding: 65px
		.form__grid>:first-child
			flex: 0 0 100%
			max-width: 100%

	.first-slider .swiper-fraction
		left: 350px

	.first:before, .home-line-one--left:before
		margin-left: -131px

	.main-inn-line
		display: none

	.first
		min-height: auto
		.container
			display: block

	.first__wrap
		display: block
		margin-left: 30px
		width: auto

	.first-item
		height: 515px

	.first-item__img
		flex: 0 0 245px
		max-width: 245px

	.first-item__main
		padding: 0 40px
		margin-top: 172px

	.first-item__title
		margin-bottom: 25px
	.first-item__title:before
		display: none
	.first-item__title h2
		font-size: 30px

	.title_line
		&:before
			right: 68%
		&:after
			left: 68%

	.gallery-sizer,
	.gallery-item
		width: 33.33%
	.gallery-item_big
		width: 66.67%

	.gallery__grid_big
		.gallery-item, .gallery-sizer
			width: 50%
		.gallery-item
			.main-img
				height: 265px
		.gallery-item_big
			width: 100%
			.main-img
				height: 545px

	.subscribe__form
		padding: 40px 40px 50px 135px
		flex-wrap: wrap
	.subscribe__icon
		top: 45px
		left: 32px
	.subscribe__title
		flex: 0 0 100%
		max-width: 100%
		margin: 0 0 15px

	.v-reviews__grid
		display: block
	.v-reviews__left
		padding: 0
		max-width: 100%
		margin-bottom: 45px
		.title
			margin-bottom: 60px
	.v-reviews__right
		max-width: 100%
		padding: 0

	.v-reviews__content
		display: none
	.v-reviews-fraction
		bottom: 0
		left: auto
		right: 60px

	.v-review__button
		top: 50%
		right: 140px
		transform: translateY(-50%)
		transition: 0.2s cubic-bezier(0.37, 0, 0.21, 1.02)

	.reviews-inn__col
		width: 50%

	.review__main
		padding-right: 50px
	.review__hidden
		padding: 60px 45px

	.pagination
		margin-left: 41%
		&:before
			content: ''
			position: absolute
			z-index: -10
			bottom: 100%
			left: 0
			margin: 0 0 -15px
			height: 10000px
			border-left: 1px solid #F4F4F4

	.news-item__head:hover ~ .news-item__decor-image 
		opacity: 0
		visibility: hidden
	.news-item__img
		margin-right: 45px
	.news-item__img .main-img
		width: 320px

	.article__main
		padding: 0 10px 0 30px

	.about
		background-size: 110% auto
		background-position: 50% 40px
	.about__quote
		margin-bottom: 45px

	.about-contacts
		display: block
		margin-top: 60px
	.about-contacts__main
		padding: 65px
		max-width: none
	.about-contacts__form
		margin: 55px 0 0
		padding: 0 65px
		max-width: none

	.faq__col
		flex: 0 0 100%
		max-width: 100%

	.contacts-inn
		box-shadow: none
	.contacts-inn__grid
		display: block
	.contacts-inn__left
		max-width: none
		padding: 0
	.contacts-inn__right
		margin-top: 55px
		max-width: none

	.contacts__action
		margin-top: 35px

	.error-inn
		background-size: 110% auto
	.error-inn__grid
		display: block
		max-width: 510px
		text-align: center
	.error-inn__img,
	.error-inn__content
		max-width: none
		padding: 0
	.error-inn__img
		margin-bottom: 40px
		img
			margin: 0 auto

	.catalog__main .pagination
		margin-left: 319px

	.product-info__grid
		flex-wrap: wrap
		justify-content: center
		max-width: 620px
		margin: 0 auto
	.product-info__main
		// order: -1
		// max-width: 100%
		flex-basis: 100%
		max-width: 450px
		width: auto
		margin: 0 0 30px
	.product-info__list
		flex: 0 0 100%
		max-width: 100%

	.product-addons__thumb
		width: 85px
		height: 130px

	.post__title:hover ~ .post__decor-image
		opacity: 0
		visibility: hidden

	.distributors
		&__form
			margin-bottom: 35px
			padding: 0 65px
			flex-wrap: wrap
			.btn
				width: 100%
				flex-basis: 100%
		.form-item
			margin-right: 25px
			margin-bottom: 40px
			width: 275px
			&:nth-child(2)
				margin-right: 0
		&__wrapper
			height: 405px
			overflow: hidden
		&__item
			margin-bottom: 45px
			margin-right: 3.23488045%
			width: 48.3825598%
			&:nth-child(3n)
				margin-right: 3.23488045%
			&:nth-child(2n)
				margin-right: 0
		&__name:hover ~ .distributors__decor-image
			opacity: 0
			visibility: hidden


@media only screen and (max-width : 767px)
	.container
		width: 540px

	h1, h2
		line-height: 1.35
		font-size: 24px
	h3
		line-height: 1.45
		font-size: 20px

	.section
		margin: 85px 0

	.content ul li
		margin-bottom: 1rem
	.content blockquote
		margin: 30px 0
	.content-gallery
		margin: 35px 0

	.content-gallery__grid
		margin: 0 -7px -14px
	.content-gallery__item
		padding: 0 7px 14px

	.title_line
		&:before,
		&:after
			display: none

	.title-tabs
		display: block
	.title-tabs__main
		margin: 0 0 55px
		.title
			text-align: center
		.title h1:before, .title h2:before
			left: 50%
			margin-left: -40px
	.title-tabs__wrap
		min-width: auto
		max-width: none
		justify-content: center

	.title-sort
		display: block
		margin-bottom: 40px
	.title-sort__main
		margin: 0 0 55px
	.title-sort__wrap
		max-width: 310px

	.mob-menu__wrap
		padding: 0 15px 0 50px
	.mob-menu__main
		display: block
		padding: 50px 0 50px 50px
	.mob-menu__social
		margin-top: 35px

	.mob-menu__menu>li
		margin-bottom: 20px

	.header
		transform: none
		&:before
			top: 0
			bottom: 0
			transform: none !important

	.benefits-slider
		padding-bottom: 50px
	.benefit-item.swiper-slide-active
		.benefit-item__box
			background: #2A2E46
			box-shadow: $shadow
			height: 230px
			transform: translateY(-205px)
			color: #fff
		.benefit-item__head
			&:before
				opacity: .15
		.benefit-item__more
			opacity: 1
			visibility: visible

	.first,
	.first-inn
		padding-top: 100px

	.first-slider
		padding-top: 60px
		margin-top: 0
	.first-slider .swiper-fraction
		top: 0
		left: 65px

	.first__wrap
		margin-left: 20px

	.first-slider__video
		top: auto
		height: 140px
		max-height: 100%

	.first-item__main
		margin-top: 20px
		padding: 0 0 0 30px
		color: #222

	.first-item__title h2
		font-size: 22px
	.first-item__title>:first-child
		color: inherit
	.first-item__title>:nth-child(2)
		color: #7A7A7A

	.swiper-fraction span:first-child
		font-size: 40px

	.home-line-one--right:before
		display: none
	.first:before, .home-line-one--left:before
		margin-left: -195px

	.benefits__title
		padding: 0
		margin-bottom: 40px
		text-align: center
		.title
			margin-bottom: 50px
		.btn
			position: static

	.benefits-slider .swiper-nav
		left: 50%
		margin-left: -60px

	.gallery__grid
		margin: 0 -3px -6px
	.gallery-item
		padding: 0 3px 6px
	.gallery-item .main-img
		height: 115px
	.gallery-item_big .main-img
		height: 236px

	.gallery__grid_big
		.gallery-item .main-img
			height: 200px
		.gallery-item_big .main-img
			height: 400px

	.news__grid
		margin: 0 -20px
		.news-item:nth-child(n)
			flex: 0 0 50%
			max-width: 50%
			padding: 0 20px
		.news-item__content
			min-height: 275px

	.news__action
		margin-top: 60px

	.subscribe__title
		margin-bottom: 25px
	.subscribe__field
		flex: 0 0 100%
		max-width: 100%
		margin: 0 0 30px

	.advant
		flex: 0 0 50%
		max-width: 50%

	.v-reviews-slider
		padding-bottom: 50px
	.v-reviews-slider .swiper-nav
		left: 50%
		margin-left: -100px
	.v-reviews-slider:before
		display: none
	.v-reviews__text-box
		// visibility: hidden
		opacity: 0
		pointer-events: none
		z-index: -1
		// display: none

	.v-review
		padding: 0
	// .v-review__box
	// 	display: none

	.v-review__img
		overflow: hidden
		height: 71.875vw
		max-height: 380px
		// &:before
		// 	content: ''
		// 	display: block
		// 	width: 100%
		// 	padding-bottom: 79.3%
		.btn
			top: auto
			bottom: 0
			right: 50%
			margin-right: -100px
			width: 200px

	.v-review__button
		top: 50%
		left: 50%
		right: auto
		transform: translate(-50%, -50%)

	.v-reviews-fraction
		right: 0

	.foot-main
		padding: 60px 0 20px
	.foot-main__grid
		display: block
	.foot-main__head
		margin-bottom: 25px
	.foot-main__col:nth-child(n)
		padding: 0
		max-width: 100%
		text-align: center
	.foot-main__col:nth-child(n+2)
		margin-top: 40px
	.foot-main__col:nth-child(3)
		.foot-main__head
			display: none

	.foot-main__logo
		margin-bottom: 15px
	.foot-main__descr
		display: none
	.foot-main__gallery
		max-width: 258px
		margin: 0 auto

	.foot-bottom__grid
		flex-wrap: wrap
		padding: 25px 0 20px
	.foot-bottom__copy,
	.foot-bottom__dev
		flex: 0 0 100%
		margin-bottom: 10px
		text-align: center
	.foot-bottom__social
		flex: 1 0 0
		padding: 0
		order: 1
		margin-top: 5px

	.albums-slider
		padding-left: 40px
	.album
		width: 100%
	.album__img
		margin-bottom: 25px
	.album__head
		margin-bottom: .8rem

	.review__main
		padding-right: 0

	.review__hidden
		padding: 20px

	.review .main-img
		margin-bottom: 50px
	.review__main .review-info__content
		display: none

	.review__hidden
		left: -12px
		right: -12px
		.more-box
			margin-top: 35px

	.pagination
		margin: 70px -15px 0 0

	.news-item
		margin-bottom: 60px
	.news-item__img
		margin-right: 30px
	.news-item__img .main-img
		width: 220px
	.news-item__content
		min-height: 0
		margin-bottom: 30px

	.news-inn__main .pagination
		margin-top: 45px

	.news-inn__aside
		margin-top: 45px
	.news-inn__aside-mob
		flex: 0 0 100%
		max-width: 100%

	.post__title
		margin-bottom: 30px

	.articles-grid
		margin: 0 -15px -30px
	.articles-grid__col
		flex: 0 0 100%
		max-width: 100%
		padding: 0 15px 30px

	.article__img
		height: 435px
	.article__main
		padding: 0 20px 20px 25px

	.post__img
		height: 300px

	.about-contacts__main
		padding: 50px
	.about-contacts__form
		padding: 0 50px

	.s-form__wrap
		padding: 50px

	.popup
		padding: 50px 45px

	.table-popup.popup
		padding: 45px 30px 30px
	.table-popup__wrap
		padding: 15px 30px

	.catalog__grid,
	.catalog__grid--favorite
		margin-left: -2px
		margin-right: -2px
	.catalog__col,
	.catalog__col--favorite
		flex: 0 0 253px
		max-width: 253px
		margin-left: 2px
		margin-right: 2px


	.catalog__main .pagination
		margin-left: 0

	.product-slider
		position: relative
		padding: 0
		width: 100%
		margin-bottom: 40px
		&:before
			content: ''
			position: absolute
			z-index: -1
			bottom: 45px
			left: 50%
			margin: 0 0 0 -50vw
			width: 100vw
			height: 405px
			max-height: 100%
			background: #f4f4f4

	.product__price
		padding: 0
		margin: 0 0 20px
	.product__price .price__wrap
		justify-content: center

	.product-action
		position: relative
		left: -25px
		padding: 0
		min-height: 0
		max-width: 310px
		margin: 0 auto
	.product-action:before
		display: none

	.product-action__thumb
		background: #f4f4f4

	.product-specs
		margin-top: 80px
	.product-specs__table
		padding: 15px 30px
		border-width: 15px

	.product-specs__form
		padding: 50px

	.product-advant
		display: block
	.product-advant:nth-child(n) .product-advant__img
		max-width: 100%
		height: 510px

	.product-advant:nth-child(n) .product-advant__content
		padding: 40px 15px 0
		text-align: left

	.product-addons__grid
		display: block
	.product-addons__slider
		padding: 35px 30px 30px
		max-width: 100%

	.product-addons__main
		padding: 40px 0 0

	.product-info
		&__top
			justify-content: space-between
		&__logo
			&--first
				margin-right: 0
			&--second
				margin-left: 0
		&__properties
			margin: 0 auto
			flex-direction: column
		&__property
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0

	.distributors
		&__form
			margin-bottom: 30px
			padding: 0
			flex-direction: column
		.form-item
			width: 100%
			margin-right: 0
			margin-bottom: 25px
		&__map
			width: 100vw
			margin: 0 -15px 45px
		&__wrapper
			height: 380px
		&__country
			font-size: 24px
		&__item
			width: 100%
			margin-right: 0
			margin-bottom: 30px
			&:nth-child(3n)
				margin-right: 0

@media only screen and (max-width : 575px)
	.container
		width: 100%

	blockquote
		padding: 42px 0 0
		background-position: 0 0

	[class*=form__col]
		flex: 0 0 100%
		max-width: 100%

	.form-checkbox span
		padding-left: 35px

	.breadcrumbs
		padding: 12px 0
	.breadcrumbs__list
		font-size: 12px
	.breadcrumbs__list li:after
		right: -12px
		margin: -4px 0 0
		font-size: 7px

	.action-box
		margin-top: 45px

	.title-tabs__item
		margin: 0
		flex: 1 0 0
		padding: 0 12px 12px
		text-align: center

	.title-sort__wrap
		max-width: 100%

	.mob-menu__wrapper
		padding: 100px 0 0
	.mob-menu__wrap
		margin: 0 -15px

	.first-slider
		.swiper-nav
			flex-direction: column
			bottom: 0
			left: auto
			right: 50px
			width: auto
			height: 165px
			.ic-prev:before
				content: "\e90c"
			.ic-next:before
				content: "\e90b"
		.swiper-nav .swiper-button-next
			margin: 30px 0 0

	.home-line-one
		&--left:before
			margin: 0
			left: 60px

	.header__logo
		margin-right: 15px
	.header__logo .logo
		display: none
	.header__logo .logo-mob
		display: inline-block


	.first
		margin-bottom: 190px
	.first:before
		margin: 0
		width: 60px

	.first-slider.swiper-container-horizontal .swiper-pagination-bullets
		top: 60px
		bottom: auto
		height: 240px

	.first__wrap
		padding-bottom: 0

	.first-slider__video
		display: none

	.first-item
		display: block
		padding: 0 35px 0 0
		height: 405px
	.first-item__img
		height: 240px
		max-width: 100%
		margin-bottom: 25px
	.first-item__main
		padding: 0 25px 0 0
		margin: 0
	.first-item__content
		display: none
	.first-item__title>:nth-child(n+2)
		display: none

	.first__social
		bottom: auto
		left: 25px
		max-width: 100%

	.benefit-item
		width: 320px
	.benefit-item__wrap
		padding: 5px 5px 0
	.benefit-item__box
		left: 15px
		right: 15px
		padding: 35px 15px 0

	.gallery-item, .gallery-sizer
		width: 50%
	.gallery-item_big
		width: 100%

	.gallery__grid_big
		.gallery-item .main-img
			height: 115px
		.gallery-item_big .main-img
			height: 236px

	.news__grid
		flex-wrap: wrap
	.news__grid .news-item:nth-child(n)
		flex: 0 0 100%
		max-width: 100%
	.news__grid .news-item:nth-child(n+2)
		margin-top: 55px
	.news__grid .news-item__content
		min-height: 0

	.subscribe__form
		padding: 40px 25px
		justify-content: center
		text-align: center
	.subscribe__icon
		position: static
		margin-bottom: 15px

	.albums-slider
		padding: 0 0 80px
	.albums-slider .swiper-nav
		top: auto
		margin: 0
		bottom: 0

	.reviews-inn__col
		width: 100%

	.review__main
		max-width: 220px
		margin: 0 auto
	.review__hidden
		left: 0
		right: 0

	.news-item
		display: block
	.news-item__img
		margin: 0 0 35px
		.main-img
			width: 395px

	.content-gallery__item
		flex: 0 0 100%
		max-width: 100%

	.post__img
		margin-bottom: 35px
		height: auto
		&:before
			content: ''
			display: block
			width: 100%
			padding-bottom: 60%

	.about
		background-size: 100% auto

	.about__quote
		margin-bottom: 35px
	.about-contacts__main
		padding: 50px 15px
		margin: 0 -15px
	.about-contacts__form
		padding: 0

	.faq-item__button
		padding: 20px 50px 20px 20px
		font-size: 16px
	.faq-item__button .ic
		right: 20px

	.faq-item__hidden
		padding: 0 20px 30px

	.s-form__wrap
		margin: 0 -15px
		padding: 50px 15px

	.contacts-slider
		margin-right: -15px
		max-width: none
		.swiper-nav
			right: 15px

	.contact-slide
		height: 390px
	.contact-slide:before
		display: none
	.contact-slide__wrap
		left: 15px
		bottom: 15px
	.contact-slide.swiper-slide-active
		.contact-slide__wrap
			transform: translate(-15px,15px)

	.error-inn
		background-size: 100% auto

	.popup
		padding: 50px 15px

	.table-popup.popup
		padding: 50px 15px 0
	.table-popup__wrap
		margin: 0 -15px
		padding: 0 15px

	.review-popup__img
		margin-bottom: 35px

	.catalog__col
		flex: 0 0 100%
		max-width: 100%

	.catalog__aside
		margin-bottom: 80px

	.filter
		display: none
		margin: 0 -15px
		padding: 35px 18px 45px
		background: #F4F4F4
		border: 2px solid #222
		box-shadow: $shadow
		.form-checkbox span:before
			background: #2a2e46
	.filter__item
		flex: 0 0 100%
		max-width: 100%
	.filter__options
		max-width: 100%
	.filter__options .form-item
		max-width: 100%
	.filter__action
		text-align: center

	.filter-toggle
		display: block
		margin-bottom: 20px

	.product-slide__img
		height: 515px

	.product-action
		left: 0
		text-align: center
	.product-action__grid
		display: block
	.product-action__thumbs
		padding: 0
		max-width: none
		justify-content: center
		margin-left: -15px
		margin-top: 40px
	.product-action__video
		margin: 0 auto

	.product-specs__table
		margin: 0 -15px
		padding: 0 15px
	.product-specs__form
		margin: 0 -15px
		padding: 50px 15px
		max-width: none

	.product-advant:nth-child(n) .product-advant__img
		height: 380px
	.product-advant:nth-child(n) .product-advant__content
		padding: 40px 0 0

	.product-info
		&__top
			justify-content: center
			margin-bottom: 20px
		&__list li
			margin-bottom: 1rem

	.product-addons__grid
		margin: 0 -15px

	.product-addons__slide
		padding: 40px 0
	.product-addons__slide-img
		height: 300px
	.product-addons__slide-img img:nth-child(2)
		transform: scale(1.05) translate(50px,-30px)

	.product-addons__main
		padding-left: 15px
		padding-right: 15px

	.articles-slider .swiper-slide
		width: 100%

	.article__main
		padding-bottom: 10px

	.scrollbar-track
		background: none !important
	.scrollbar-track-y
		width: 1px !important
	.scrollbar-track-x
		height: 1px !important

	.v-review__button
		width: 52px
		height: 52px


/*==========  Mobile First Method  ==========*/


@media only screen and (min-width : 576px)
	.filter
		display: block !important

@media only screen and (min-width : 768px)
	/**/

@media only screen and (min-width : 992px)
	/**/

@media only screen and (min-width : 1300px)
	/**/
