@import "bourbon"

$font: "HelveticaNeueCyr", sans-serif
$font-2: "AvenirNextCyr", "HelveticaNeueCyr", sans-serif

$color: #FA8888
$color-2: #FFA500
$color-dark: #2A2E46

$shadow: 10px 20px 40px rgba(#000,.24)

@mixin bg($url)
	background-image: url($url)
	background-repeat: no-repeat
	background-position: center
	background-size: cover

@mixin ic($lh:1)
	font-family: 'icomoon'
	text-transform: none
	font-weight: normal
	font-style: normal
	line-height: $lh
