@import "bourbon"
@import "default"

.home-line-one
	position: relative
	z-index: -10
	&:before
		content: ''
		position: absolute
		bottom: 0
		// left: 50%
		// margin: 0 0 0 -640px
		height: 10000px
		border-right: 1px solid #F4F4F4
	&--left
		&:before
			left: 50%
			margin: 0 0 0 -600px
	&--right
		&:before
			right: 230px


.main-inn-line
	position: relative
	z-index: -10
	&:before
		content: ''
		position: absolute
		top: 0
		left: 50%
		margin: 0 0 0 -285px
		height: 10000px
		border-right: 1px solid #F4F4F4
.main-inn-line_catalog
	&:before
		margin-left: -485px

.title
	margin-bottom: 95px
	&>:last-child
		margin-bottom: 0
	h1, h2
		position: relative
		margin-bottom: 40px
		&:before
			content: ''
			position: absolute
			bottom: -20px
			left: 0
			width: 110px
			border-bottom: 2px solid $color-2

.title_light
	h1, h2
		&:before
			border-bottom-color: #fff

.title_center
	text-align: center
	h1, h2
		&:before
			left: 50%
			transform: translateX(-50%)
			// margin-left: -40px

.title_line
	position: relative
	&:before,
	&:after
		content: ""
		position: absolute
		bottom: 15px
		width: 10000px
		border-bottom: 1px solid #F4F4F4
	&:before
		right: 60%
	&:after
		left: 60%

.title-tabs
	display: flex
	align-items: flex-end
	margin-bottom: 55px
	.title
		margin-bottom: 0
	&__main
		flex: 1 0 0
		max-width: 100%
		margin: 0 50px 20px 0
	&__wrap
		position: relative
		flex: 0 1 auto
		display: flex
		min-width: 375px
		max-width: 50%
		&:before
			content: ''
			position: absolute
			z-index: -10
			bottom: 0
			left: 0
			width: 100vw
			border-bottom: 1px solid #F4F4F4
	&__item
		position: relative
		z-index: 1
		display: inline-block
		flex: 0 1 auto
		padding: 0 0 12px
		border-bottom: 2px solid transparent
		margin-right: 35px
		text-transform: uppercase
		font-weight: 500
		font-size: 14px
		color: #B4B4B4
		transition: .2s
		&:last-child
			margin-right: 0
		&:hover
			text-decoration: none
			color: #222
		&.active
			border-color: #222
			color: #222

.title-sort
	display: flex
	align-items: flex-end
	margin-bottom: 100px
	.title
		margin-bottom: 0
	&__main
		flex: 1 0 0
		max-width: 100%
		margin: 0 50px 20px 0
	&__wrap
		position: relative
		flex: 0 0 30%
		max-width: 30%
		display: flex
		&:before,
		&:after
			content: ''
			position: absolute
			z-index: -10
			left: 0
		&:before
			bottom: 0
			width: 100vw
			border-bottom: 1px solid #F4F4F4
		&:after
			top: 100%
			height: 10000px
			border-right: 1px solid #F4F4F4
	&__head
		flex: 0 0 calc(100% - 170px)
		max-width: calc(100% - 170px)
		margin: 0
		line-height: 1.3
	&__select
		flex: 0 0 170px
		max-width: 170px

.js-head
	position: relative
	display: inline-block
	color: transparent
	&__line
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 0
		background: #f0f0f0
	&_start
		.js-head__line
			width: 100%
			transition: .3s cubic-bezier(1,0,1,1)
			transition-delay: .1s
	&_end
		color: inherit
		.js-head__line
			left: auto
			right: 0
			width: 0
			transition: .3s cubic-bezier(1,0,1,1)
			transition-delay: .25s

.btn
	// cursor: pointer
	display: inline-block
	position: relative
	padding: 23px
	min-width: 280px
	background: $color
	border: none
	text-align: center
	text-transform: uppercase
	line-height: 1.3
	font-weight: 500
	font-size: 18px
	color: #fff
	overflow: hidden
	transform: perspective(1px) translateZ(0)
	transition-property: color
	transition-duration: .5s
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		border-radius: 100%
		background: darken($color,4%)
		transform: scale(0)
		transition: transform 0.5s ease-out
	&:hover
		text-decoration: none
		&:before
			transform: scale(2)
	&.btn_orange
		background: $color-2
		&:before
			background: darken($color-2,3%)
	&.btn_dark
		background: $color-dark
		&:before
			background: lighten($color-dark,5%)

.btn-icon
	position: relative
	display: inline-block
	vertical-align: middle
	padding: 0
	width: 85px
	height: 85px
	line-height: 85px
	text-align: center
	font-size: 35px
	color: inherit
	// transition: .5s
	overflow: hidden
	transform: perspective(1px) translateZ(0)
	transition-property: color
	transition-duration: .5s
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		border-radius: 100%
		background: #eee
		transform: scale(0)
		transition: transform 0.5s ease-out
	.ic
		line-height: 85px
	>span
		position: absolute
		bottom: 3px
		right: 5px
		min-width: 21px
		height: 21px
		padding: 0 3px
		border-radius: 11px
		background: $color-dark
		text-align: center
		letter-spacing: -.02em
		line-height: 21px
		font-size: 13px
		font-weight: 500
		color: #fff
	&:hover
		text-decoration: none
		&:before
			transform: scale(2)

	&.active
		color: $color-2

.btn-icon_accent
	background: $color
	color: #fff
	&:before
		background: darken($color,4%)


.btn-call
	position: relative
	display: inline-block
	vertical-align: middle
	padding: 0
	width: 85px
	height: 350px
	background: $color
	white-space: nowrap
	text-transform: uppercase
	font-weight: 500
	font-size: 18px
	color: #fff
	overflow: hidden
	transform: perspective(1px) translateZ(0)
	// transition-property: color
	transition: .5s
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		border-radius: 100%
		background: darken($color,4%)
		transform: scale(0)
		transition: transform 0.5s ease-out
	.ic
		position: absolute
		top: 35px
		left: 0
		width: 100%
		text-align: center
		font-size: 35px
		transition: .5s
	span
		position: absolute
		top: 120px
		left: 54px
		transform: rotate(90deg)
		transform-origin: top left
		transition: .5s
	&:hover
		text-decoration: none
		&:before
			transform: scale(2)

.btn-call_small,
.header.fixed .header__call .btn-call:not(.btn-call_small)
	height: 85px
	.ic
		top: 50%
		transform: translateY(-50%)
	span
		opacity: 0
		visibility: hidden

.action-box
	margin-top: 50px
	text-align: center

[class*="form__col"]
	flex: 1 0 0
	max-width: 100%
	padding: 0 15px 35px

.form
	&__title
		margin-bottom: 30px
	&__grid
		display: flex
		flex-wrap: wrap
		align-items: flex-end
		margin: 0 -15px -35px
		.form-action
			margin-top: 0
		.form-action__policy
			margin-bottom: 20px
	&__col
		&-100p
			flex: 0 0 100%
		&-66p
			flex: 0 0 66.66%
			max-width: 66.66%
		&-50p
			flex: 0 0 50%
			max-width: 50%
		&-33p
			flex: 0 0 33.33%
			max-width: 33.33%
		&-auto
			flex: 0 1 auto
		&-action
			flex: 0 0 420px
			max-width: 420px

.form_white
	color: #fff
	.form-item__icon,
	.form-field
		color: #fff
	.form-checkbox
		color: #222
		a
			color: #fff
	.form-checkbox span:before
		background: #2A2E46
	textarea.form-field
		background: #fff
		color: #222

.form-item
	position: relative
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0
	&__icon
		pointer-events: none
		position: absolute
		top: 0
		right: 0
		width: 20px
		font-size: 20px
		text-align: center
		color: #D0D0D0
	.form-field
		padding-right: 30px

.form-field
	display: block
	width: 100%
	padding: 0 0 12px
	border: none
	border-bottom: 2px solid currentColor
	background: none
	font-size: 15px
	line-height: 1.3
	color: #222
	transition: .5s
	&.error
		border-color: red

textarea.form-field
	height: 100px
	background: #F4F4F4
	padding: 22px 26px
	border-color: transparent
	resize: vertical
	color: #222
	&::placeholder
		color: #B4B4B4

.form-checkbox
	// cursor: pointer
	display: inline-block
	margin-bottom: 20px
	text-align: left
	&:last-child
		margin-bottom: 0
	input
		display: none
		&:checked ~ span
			&:before
				background: #2A2E46
			&:after
				transform: none
				opacity: 1
	span
		display: block
		position: relative
		padding: 1px 0 0 40px
		min-height: 24px
		&:before,
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 24px
			height: 24px
		&:before
			background: #F4F4F4
			transition: .2s
		&:after
			background: url('../img/ic-check.svg') no-repeat 50% 50%
			transform: scale(.75)
			opacity: 0
			transition: .5s


.form-action
	margin: 30px 0 0
	&_center
		text-align: center
	&__policy
		margin-bottom: 30px
	.btn
		width: 100%
		min-width: 0

.s-form
	&__wrap
		padding: 60px 75px
		background-color: #00A8BA
		+bg('../img/white-wave.png')
		color: #fff


.sandwich
	display: inline-block
	width: 50px
	height: 50px
	padding: 0
	background: none
	border: 2px solid #222
	transition: 0.5s
	span
		display: block
		background: #222
		width: 20px
		height: 2px
		margin: 0 auto
		transition: .25s margin .25s, .25s transform, .25s background
		&:nth-child(1)
			margin-bottom: 4px
		&:nth-child(2)
			transition: .1s
			transition-delay: .25s
		&:nth-child(3)
			margin-top: 4px
	&:hover
		background: rgba(#222,.1)
	&.active
		background: #222
		transition: .25s .25s
		span
			background: #fff
			transition: .25s margin, .25s transform .25s, .25s background .25s
			&:nth-child(1)
				margin-top: 0
				margin-bottom: -2px
				transform: rotate(45deg)
			&:nth-child(2)
				opacity: 0
				transition: .1s
				transition-delay: 0s
			&:nth-child(3)
				margin-top: -2px
				transform: rotate(135deg)

.mob-menu
	display: none
	position: fixed
	z-index: 98
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: #fff
	overflow: auto
	-webkit-overflow-scrolling: touch
	&__wrapper
		position: relative
		min-height: 100%
		padding: 100px 0 30px
	&__wrap
		overflow: hidden
		background: $color-dark
		box-shadow: $shadow
		text-align: center
		color: #fff
	&__main
		position: relative
		display: inline-block
		vertical-align: middle
		padding: 95px 50px 75px
		box-shadow: inset 1px 0 0 rgba(#F4F4F4,.25)
		text-align: left
	&__menu
		margin: 0
		text-transform: uppercase
		line-height: 1.45
		font-weight: 500
		font-size: 14px
		a
			display: inline-block
			vertical-align: middle
			color: inherit
			transition: .2s
			&:hover
				color: $color-2
				text-decoration: none
		>li
			position: relative
			margin: 0 0 33px
			&:last-child
				margin-bottom: 0
			&.active
				>a
					&:before
						width: 75px
			&.dropdowned
				>a
					&:before
						width: 220px
			>a
				position: relative
				padding: 0 0 10px
				&:before
					content: ''
					position: absolute
					left: -50px
					bottom: 0
					width: 0
					border-bottom: 2px solid $color-2
					transition: .5s cubic-bezier(.37,0,.21,1.02)
			>ul
				display: none
				position: absolute
				z-index: 5
				top: 100%
				left: 0
				width: 220px
				padding: 25px 40px
				background: $color-dark
				color: #fff
				background: #26293F
				li.active
					>a
						color: $color-2
				>li
					margin-bottom: .55rem
					&:last-child
						margin-bottom: 0
				a
					&:hover
						color: $color-2
	&__social
		display: inline-block
		vertical-align: middle
		position: relative
		z-index: 1
		margin-top: 90px
		&:before
			content: ''
			position: absolute
			z-index: -1
			top: 50%
			left: -50px
			width: 100vw
			border-bottom: 1px solid rgba(#F4F4F4,.25)
		.social
			padding: 5px 0
			margin: -5px 0
			background: $color-dark


.header
	position: fixed
	z-index: 99
	top: 0
	left: 0
	right: 0
	transform: translateY(50px)
	transition: .5s box-shadow, .5s transform
	&:before
		content: ''
		position: absolute
		z-index: -1
		top: -15px
		left: 0
		right: 0
		bottom: -15px
		opacity: 0
		background: #fff
		pointer-events: none
		transition: .5s
	&.fixed
		transform: none
		box-shadow: 0 0 40px rgba(#000,.1)
		&:before
			transform: translateY(-15px)
			opacity: 1
		.header__call
			.btn-call:not(.btn-call_small)
				transform: translateY(0)
	&.menu-show
		transform: none
		box-shadow: none
		&:before
			transform: translateY(-15px)
			opacity: 1
	&__grid
		position: relative
		display: flex
		align-items: center
		margin: 0 -175px
		padding: 15px 0
		>*
			flex: 0 1 auto
			margin-right: 20px
	&__logo
		.logo-mob
			display: none
	&__menu
		flex: 1 0 0
		margin-right: 40px
	&__btn
		margin-right: 10px
	&__call
		position: relative
		flex: 0 0 85px
		max-width: 85px
		height: 85px
		margin-right: 0
		.btn-call:not(.btn-call_small)
			position: absolute
			top: 0
			right: 0
			transform: translateY(160px)
	&__toggle
		margin-right: 0
		display: none
		order: 10

.logo
	display: inline-block
	vertical-align: middle
	width: 415px
	img
		display: block
		max-width: auto
		width: 100%
		height: auto

.logo-mob
	display: inline-block
	vertical-align: middle
	img
		display: block
		height: 50px

.lang-menu
	font-size: 18px
	margin: 0
	li.active
		>a
			color: $color
	a
		color: inherit
		transition: .2s
		&:hover
			text-decoration: none
			color: $color

.menu
	display: flex
	justify-content: flex-end
	margin: 0 -13px
	text-transform: uppercase
	line-height: 1.45
	font-weight: 500
	font-size: 18px
	a
		display: inline-block
		vertical-align: middle
		color: inherit
		transition: .2s
		&:hover
			text-decoration: none
	>li
		position: relative
		flex: 0 1 auto
		margin: 0 13px
		&.active,
		&:hover
			>a
				&:before
					right: auto
					left: 0
					width: 100%
		&:hover
			>ul
				transform: none
				visibility: visible
				opacity: 1
		>a
			position: relative
			padding: 25px 0
			&:before
				content: ''
				position: absolute
				right: 0
				bottom: 15px
				width: 0
				border-bottom: 2px solid $color-2
				transition: .5s cubic-bezier(.37,0,.21,1.02)
		>ul
			position: absolute
			top: 100%
			left: 0
			width: 220px
			padding: 25px 40px
			background: $color-dark
			color: #fff
			transform: translateX(10px)
			visibility: hidden
			opacity: 0
			transition: .5s
			li.active
				>a
					color: $color
			>li
				margin-bottom: .55rem
				font-weight: 400
				&:last-child
					margin-bottom: 0
			a
				&:hover
					color: $color

.social
	&__head
		margin-bottom: 13px
		text-transform: uppercase
		letter-spacing: .01em
		font-size: 16px
	&__grid
		display: flex
		flex-wrap: wrap
		align-items: center
		margin: 0 -20px -20px

.social_dark
	.social-item
		color: #222
		svg
			fill: #222
		&:hover
			color: $color-2
			svg
				fill: $color-2


.social_center
	.social__grid
		justify-content: center

.social-item
	display: inline-block
	margin: 0 20px 20px
	font-size: 20px
	color: $color-2
	transition: .25s
	svg
		fill: $color-2
		transition: .25s
	&:hover
		text-decoration: none
		color: $color-dark
		svg
			fill: $color-dark
	&.ic-facebook
		font-size: 22px

.first
	position: relative
	z-index: 1
	padding: 225px 0 0
	border-bottom: 1px solid #F4F4F4
	display: flex
	min-height: 100vh
	.container
		display: flex
		padding: 0 225px
	&:before
		content: ''
		position: absolute
		z-index: -1
		top: 0
		left: 0
		margin-left: -600px
		width: 50%
		height: 100%
		background: #F4F4F4
	&__wrap
		position: relative
		// margin: 0 -175px
		padding-bottom: 110px
		display: flex
		width: 100%
	&__mouse
		position: absolute
		bottom: 310px
		left: 100%
		img
			display: block
			margin: 0 auto
		&:after
			content: ''
			position: absolute
			top: 100%
			left: 50%
			border-right: 1px solid #F4F4F4
			height: 125px
	&__social
		position: absolute
		z-index: 11
		bottom: 0
		right: 0
		padding: 45px 0 45px 110px
		min-width: 340px
		&:before
			content: ''
			position: absolute
			z-index: -1
			top: 0
			left: 0
			width: 100vw
			height: 100%
			background: #F4F4F4


.first-slider
	flex-grow: 1
	position: relative
	margin: -20px -100px 0
	padding: 20px 100px 0

	&__video
		position: absolute
		z-index: -1
		top: 370px
		left: 555px
		right: 100px
		bottom: 0
		background-image: url('../img/video-bg.png')
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		background: $color-dark
		overflow: hidden
		&::before
			content: ''
			position: absolute
			z-index: 1
			top: 0
			right: 0
			bottom: 0
			left: 0
			width: 100%
			height: 100%
			background-color: #00A8BA
			opacity: 0.15
			@supports (mix-blend-mode: soft-light)
				opacity: 1
				mix-blend-mode: soft-light
		&::after
			content: ''
			position: absolute
			z-index: 2
			top: 0
			right: 0
			bottom: 0
			left: 0
			width: 100%
			height: 100%
			background-color: #00A8BA
			opacity: 0.2
		video
			position: absolute
			top: 50%
			left: 50%
			min-width: 100%
			min-height: 100%
			transform: translate(-50%,-50%)

	.swiper-nav
		left: 100px
		width: 455px
		.swiper-button-prev,
		.swiper-button-next
			font-size: 60px
			.ic
				line-height: 85px
		.swiper-button-next
			margin-left: 145px
	.swiper-pagination
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.swiper-fraction
		top: 70px
		left: 895px
	&.swiper-container-horizontal
		.swiper-pagination-bullets
			top: 0
			left: auto
			right: 100%
			bottom: 0
			margin: 0 -100px 0 0
			max-width: 100px
			.swiper-pagination-bullet
				margin: 0 0 25px
				&:last-child
					margin-bottom: 0

.first-item
	position: relative
	display: flex
	// height: 975px
	padding-bottom: 85px
	overflow: hidden
	&__img
		flex: 0 0 675px
		max-width: 675px
		background-color: $color-dark
		background-position: center
		background-size: cover
		box-shadow: $shadow
		img
			transition: transform 1s 0.8s ease-out
			transform: scale(1.2)
	&__main
		flex: 1 0 0
		max-width: 100%
		margin-top: 275px
		padding: 0 100px 0 105px
		color: #fff
	&__title
		position: relative
		margin-bottom: 90px
		&:before
			content: ''
			position: absolute
			bottom: -45px
			left: -155px
			width: 210px
			border-bottom: 2px solid $color-2
			transition: 0.5s cubic-bezier(0.37, 0, 0.21, 1.02)
		&:hover::before 
			width: calc(100% + 255px)
		h2
			font-size: 55px
			margin-bottom: .65rem
		>:first-child
			color: #222
	&__content
		margin-bottom: 95px
		max-width: 425px
		min-height: 70px
	.link-more
		font-size: 22px
	&.swiper-slide-active
		.first-item__img
			img
				transform: scale(1)

.first-inn
	padding: 225px 0 0

.breadcrumbs
	padding: 15px 0
	background: #F4F4F4
	color: #B4B4B4
	&__list
		margin: 0
		text-align: center
		font-size: 16px
		li
			position: relative
			display: inline-block
			margin: 0 17px 0 0
			&:after
				position: absolute
				top: 50%
				right: -13px
				margin: -4px 0 0
				content: "\e90d"
				+ic()
				font-size: 8px
			&:nth-last-child(1)
				margin-right: 0
				color: #222
				&:after
					display: none
			&:nth-last-child(2)
				&:after
					color: #222
		a
			color: inherit
			transition: .2s
			&:hover
				text-decoration: none
				color: #222222
			.ic
				margin-right: .4em

.benefits
	&__title
		position: relative
		padding: 0 220px
		.btn
			position: absolute
			top: 0
			right: 0

.benefits-slider
	margin: 0 -30px -60px
	padding: 0 30px 60px
	.swiper-nav
		display: none

.benefit-item
	padding-bottom: 25px
	&:hover
		.benefit-item__box
			background: $color-dark
			box-shadow: $shadow
			height: 200px
			transform: translateY(-205px)
			color: #fff
		.benefit-item__head
			&:before
				opacity: .15
		.benefit-item__more
			opacity: 1
			visibility: visible
	&__wrap
		position: relative
		padding-top: 5px
		height: 480px
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 80px
			background: #fff
			border: 1px solid #F4F4F4
	&__img
		position: relative
		height: 300px
	&__box
		overflow: hidden
		position: absolute
		z-index: 1
		left: 25px
		right: 25px
		top: 100%
		padding: 35px 30px 0
		background: #F4F4F4
		height: 175px
		transform: translateY(-175px)
		text-align: center
		transition: .5s
	&__head
		position: relative
		z-index: 1
		display: inline-block
		padding-left: 23px
		margin-bottom: 18px
		&:before
			content: attr(data-number)
			position: absolute
			z-index: -1
			top: 50%
			left: -15px
			margin: -25px 0 0
			line-height: 50px
			font-weight: bold
			font-size: 70px
			color: #fff
			transition: .25s
	&__more
		position: absolute
		z-index: 3
		bottom: 25px
		left: 0
		right: 0
		text-align: center
		color: #fff
		opacity: 0
		visibility: hidden
		transition: .5s

.gallery__grid
	margin: 0 -8px -16px

.gallery-sizer
	width: 20%

.gallery-item
	width: 20%
	padding: 0 8px 16px
	.main-img
		height: 260px

.gallery-item_big
	width: 40%
	.main-img
		height: 537px

.gallery__grid_big
	.gallery-sizer,
	.gallery-item
		width: 25%
	.gallery-item_big
		width: 50%
	.gallery-item .main-img
		height: 327px
	.gallery-item_big .main-img
		height: 671px

.main-img
	display: block
	position: relative
	overflow: hidden
	&__bg,
	&__img
		position: absolute
		top: 0
		left: 0
		width: 100%
		background: #f0f0f0
	&__bg
		height: 0
		transition: height .6s cubic-bezier(1,0,1,1)
	&__img
		height: 100%
		opacity: 0
		background-position: center
		background-size: cover
		transform: scale(1.075)
		transition: .6s ease
		transition-delay: .6s
	&__parallax
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 120%
		transition: 2s linear

.main-img_show
	.main-img__bg
		height: 100%
	.main-img__img
		opacity: 1
		transform: scale(1)

.main-img_showed
	.main-img__img
		transition: 5s ease
	&:hover
		.main-img__img
			transform: scale(1.1)

.main-img_iframe
	&:before
		content: ''
		display: block
		width: 100%
		padding-bottom: 56.25%
	.main-img__img
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border: none

a.main-img
	transition: .5s
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba($color,.9)
		// transform: scale(.8)
		opacity: 0
		transition: .3s
	&::before
		content: ""
		position: absolute
		top: 50%
		left: 50%
		z-index: 1
		margin-top: -16px
		margin-left: -27px
		width: 54px
		height: 32px
		background-image: url('../img/ic-eye.svg')
		background-repeat: no-repeat
		background-position: center
		transform: translateY(40px) skew(-8deg)
		opacity: 0
		transition: 0.6s cubic-bezier(.11,.29,.03,.88)
	&:hover
		box-shadow: $shadow
		&:after
			// transform: scale(1)
			opacity: 1
		&::before
			opacity: 1
			transform: translateY(0) skew(0)
a.main-img_instagram
	&::before
		margin-top: -19px
		margin-left: -19px
		width: 38px
		height: 38px
		background-image: url('../img/ic-instagram.svg')

.news
	overflow: hidden
	position: relative
	margin: 95px 0 0
	padding: 0 0 180px
	&:before
		content: ''
		position: absolute
		z-index: -1
		top: 0
		left: 50%
		margin-left: 280px
		width: 100vw
		height: 100%
		background: #F4F4F4
	&__wrap
		display: flex
	&__left
		flex: 0 0 72.5925926%
		max-width: 72.5925926%
		// flex: 0 0 68%
		// max-width: 68%
		padding-right: 0
	&__right
		position: relative
		z-index: 1
		flex: 0 0 27.4074074%
		max-width: 27.4074074%
		// flex: 0 0 32%
		// max-width: 32%
		padding-left: 0
	&__grid
		display: flex
		// align-items: flex-start
		.news-item
			flex: 0 0 50%
			max-width: 50%
		// .news-item:nth-child(1)
		// 	flex: 0 0 50%
		// 	max-width: 50%
		// .news-item:nth-child(2)
		// 	flex: 0 0 40%
		// 	max-width: 40%
		.news-item__main
			display: flex
			flex-direction: column
			height: 100%
			.more-box
				margin-top: auto
	&__action
		position: relative
		z-index: 2
		margin-top: 115px
		line-height: 0
	.news-item
		padding-right: 144px
		margin: 0

.news-slider
	position: relative
	padding-bottom: 185px
	.news-item
		padding-right: 0

.news-item
	display: flex
	// align-items: center
	margin-bottom: 35px
	&:last-child
		margin-bottom: 0
	&__img
		align-self: flex-start
		flex: 0 1 auto
		margin-right: 60px
		.main-img
			width: 530px
			max-width: 100%
			box-shadow: none !important
			&:after
				display: none
			&:before
				content: ''
				display: block
				width: 100%
				padding-bottom: 121.5%
	&__main
		position: relative
		z-index: 2
		flex: 1 0 0
		max-width: 100%
	&__content
		position: relative
		z-index: 2
		min-height: 360px
		margin-bottom: 25px
	&__date
		margin-bottom: 2.5rem
		font-size: 18px
	&__head
		margin-bottom: 2.5rem
		&:hover
			~ .news-item__decor-image
				opacity: 1
				visibility: visible
				transform: translateY(20px) scale(1, 1)
	&__decor-image
		position: absolute
		top: 0
		left: 25%
		z-index: -1
		width: 295px
		opacity: 0
		visibility: hidden
		transition: 0.8s cubic-bezier(0.37, 0, 0.21, 1.02)
		transform: translateY(200px) scale(0.8, 1.7)
		transform-origin: top center
		pointer-events: none
		.responsive-img
			&::before
				padding-bottom: 122.033898%
			&::after
				content: ""
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: rgba(0, 0, 0, 0.1)

.articles-grid
	display: flex
	flex-wrap: wrap
	margin: 0 -14px -28px
	&__col
		flex: 0 0 50%
		max-width: 50%
		padding: 0 14px 28px

.article
	position: relative
	overflow: hidden
	&:before
		content: ''
		position: absolute
		z-index: 1
		left: 0
		bottom: 0
		width: 100%
		height: 0
		background: #F4F4F4
		opacity: 0
		transition: .7s ease
	&__img
		height: 690px
		.main-img__img:after
			content: ''
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: #2A2E46
			opacity: .45
	&__main
		position: absolute
		z-index: 2
		top: 220px
		left: 0
		width: 100%
		height: 100%
		padding: 0 40px
		display: flex
		align-items: center
		color: #fff
		transition: color .4s ease, transform .8s ease
		.news-item
			width: 100%
		.link-head
			color: #fff
	&__hidden
		opacity: 0
		transition: opacity .4s ease
	&.hover
		.article__main
			transform: translateY(-220px)
			color: #222
			.link-head
				color: #222
				&:hover
					color: $color
		.article__hidden
			opacity: 1
		&:before
			opacity: 1
			height: 100%

.articles-slider
	padding-bottom: 70px
	.article
		// max-width: 395px


.more-box
	position: relative
	padding: 45px 0 0
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 145px
		border-bottom: 2px solid currentColor
		transition: 0.5s cubic-bezier(0.37, 0, 0.21, 1.02)
	&:hover::before
		width: 100%
	.link-more
		font-size: 22px

.subscribe
	&__form
		position: relative
		padding: 80px 70px 90px 230px
		background-color: #00A8BA
		+bg('../img/white-wave.png')
		display: flex
		align-items: flex-end
		color: #fff
	&__icon
		position: absolute
		top: 70px
		left: 70px
	&__title
		flex: 1 0 0
		margin-right: 70px
		margin-bottom: -7px
		>*
			margin-bottom: .8rem
			&:last-child
				margin-bottom: 0
	&__field
		flex: 1 0 0
		margin-right: 65px
		.form-item
			margin: 0
	&__btn
		flex: 0 1 auto

.advants
	&__grid
		display: flex
		flex-wrap: wrap
		margin: 0 -15px -35px

.advant
	position: relative
	z-index: 1
	flex: 0 0 25%
	max-width: 25%
	padding: 0 15px 20px
	margin-bottom: 35px
	text-align: center
	>*
		margin-bottom: 0
	&:before
		content: attr(data-number)
		position: absolute
		z-index: -1
		bottom: -.2em
		left: 0
		right: 0
		line-height: 1
		font-weight: bold
		font-size: 70px
		color: #F4F4F4
	&__img
		width: 70px
		height: 70px
		margin: 0 auto 25px

.reviews-inn
	.title-tabs
		margin-left: 100px
	&__sliders
		position: relative
	&__grid
		margin: 0 -12px -60px
	&__col
		width: 33.33%
		padding: 0 12px
		margin-bottom: 60px

.reviews-inn_photo
	.title-tabs
		margin: 0 0 35px 45px

.review
	position: relative
	.main-img
		max-width: 280px
		margin-bottom: 75px
		&:before
			content: ''
			display: block
			width: 100%
			padding-bottom: 100%
	&__main
		padding: 20px 45px 0
	&__hidden
		position: absolute
		z-index: 15
		top: 0
		left: 0
		right: 0
		padding: 70px 55px
		background: $color-dark
		color: #fff
		opacity: 0
		visibility: hidden
		transform: translateY(20px)
		transition: .5s
		.more-box
			margin-top: 60px
	&.hover
		.review__hidden
			opacity: 1
			visibility: visible
			transform: none

.review_small
	.main-img
		margin-bottom: 50px

.review-info
	&__name
		>*
			margin-bottom: .5rem
	&__place
		margin-bottom: .5rem
		text-transform: uppercase
		font-size: 12px

	&__content
		margin-top: 22px
		>*
			margin-bottom: 0

.v-reviews
	&__grid
		display: flex
	&__left
		position: relative
		z-index: 2
		flex: 0 0 32%
		max-width: 32%
		padding: 0 30px 100px 0
		&:after
			content: ""
			position: absolute
			bottom: 150px
			right: 0
			width: 10000px
			border-bottom: 1px solid #F4F4F4
	&__right
		position: relative
		z-index: 1
		flex: 0 0 68%
		max-width: 68%
		padding: 60px 0 0
	&__content
		min-height: 105px
		margin-bottom: 25px
	&__text-box
		position: absolute
		left: 0
		bottom: 0
		z-index: 2
		width: 500px
		max-width: 100%
		min-height: 370px
		padding: 65px 55px
		background: #F4F4F4
		.review-info
			&__name
				opacity: 0
				transform: translate3d(0, 100%, 0)
				transition: all 0.2s 0.5s ease-in
			&__place
				opacity: 0
				transform: translate3d(0, 100%, 0)
				transition: all 0.3s 0.3s ease-in

			&__content
				opacity: 0
				transform: translate3d(0, 100%, 0)
				transition: all 0.4s 0.1s ease-in
			&.swiper-slide-active
				.review-info
					&__name,
					&__place,
					&__content
						opacity: 1
						transform: translate3d(0, 0, 0)

					&__name
						transition: all 0.3s 1.1s ease-out
					&__place
						transition: all 0.3s 1.3s ease-out
					&__content
						transition: all 0.4s 1.5s ease-out
	.link-more
		font-size: 18px;

.v-reviews-fraction
	bottom: 40px
	left: 0

.v-reviews-slider
	position: relative
	overflow: visible
	max-width: 1045px
	margin: 0
	&:before
		content: ''
		position: absolute
		z-index: 5
		top: -55px
		right: 100%
		bottom: -30px
		width: 100vw
		background: #fff
	.swiper-nav
		left: 500px
	.swiper-pagination
		display: none

.v-review
	padding: 0 0 70px 145px
	&.swiper-slide-active
		.v-review__img
			box-shadow: $shadow
			opacity: 1
			.responsive-img
				img
					transform: scale(1)

		// .v-review__box
		// 	visibility: visible
		// 	opacity: 1
		.v-review__goto
			display: none
	&__img
		position: relative
		height: 540px
		opacity: .5
		transition: .7s .6s
		.responsive-img
			img
				transform: scale(1.2)
				transition: 1s .6s ease-in-out
	&__button
		position: absolute
		top: 0
		left: 0
		padding: 0
		width: 104px
		height: 104px
		background-color: transparent
		border: none
		border-radius: 0
		pointer-events: none
		transition: 0.2s ease
		transform: translate(90px, -52px)
	&__goto
		position: absolute
		z-index: 5
		top: 0
		left: 0
		width: 100%
		height: 100%
		// cursor: pointer
	// &__box
	// 	display: none
	// 	position: absolute
	// 	left: 0
	// 	bottom: 0
	// 	width: 500px
	// 	max-width: 100%
	// 	min-height: 370px
	// 	padding: 65px 55px
	// 	background: #F4F4F4
	// 	visibility: hidden
	// 	opacity: 0
	// 	transition: .8s .6s

.footer
	background: $color-dark
	color: #D0D0D0

.foot-main
	padding: 60px 0 50px
	&__grid
		display: flex
	&__col
		flex: 1 0 0
		max-width: 100%
		&:nth-child(1)
			flex: 0 0 32%
			max-width: 32%
			padding-right: 90px
		&:nth-child(2)
			flex: 0 0 31%
			max-width: 31%
			padding-right: 65px
		&:nth-child(3)
			padding-right: 65px
		&:nth-child(4)
			flex: 0 0 365px
			max-width: 365px
	&__head
		margin-bottom: 35px
		color: #fff
	&__logo
		margin-bottom: 45px
	&__descr
		margin-bottom: 35px
	&__list
		margin: 0
		text-transform: uppercase
		font-size: 16px
		li
			margin-bottom: .6rem
		a
			color: inherit
			&:hover
				text-decoration: none
				color: #FA8888
	&__gallery
		display: flex
		flex-wrap: wrap
		.main-img
			flex: 0 0 33.33%
			max-width: 33.33%
			height: 110px
		a.main-img:after
			background-size: 30px auto
		.main-img__img
			opacity: 1
			transform: none
	.small-news__info
		h5
			color: #fff

.small-news
	&__item
		display: flex
		align-items: flex-start
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	&__img
		flex: 0 0 110px
		max-width: 110px
		height: 100px
		margin-right: 17px
		box-shadow: none !important
		&:after
			display: none
		.main-img__img
			opacity: 1
			transform: none
	&__info
		*
			margin-bottom: 0
	&__date
		margin-bottom: .8rem

.foot-bottom
	border-top: 1px solid #41455A
	&__grid
		display: flex
		align-items: center
		padding: 24px 0
	&__copy,
	&__dev
		flex: 1 0 0
		max-width: 100%
		margin: 0
	&__social
		flex: 0 1 auto
		max-width: 100%
		padding: 0 20px
		text-align: center
		.social-item:hover
			color: #fff
			svg
				fill: #fff
	&__dev
		text-align: right

.albums-slider
	padding-left: 155px
	overflow: visible

	.swiper-nav
		top: 240px
		margin-top: -35px
		bottom: auto

.album
	width: 600px
	>*
		margin-bottom: 0
	&__img
		margin-bottom: 40px
		padding-bottom: 77.6%
		// &:before
		// 	content: ''
		// 	display: block
		// 	width: 100%
		// 	padding-bottom: 77.6%
	&__head
		margin-bottom: 1.2rem

.pagination
	position: relative
	display: flex
	flex-wrap: wrap
	margin: 85px -15px 0 595px
	li
		flex: 0 1 auto
		margin: 15px 15px 0 0
		&.active
			>a
				background: $color
				color: #fff
				&:before
					display: none
		&:last-child
			position: relative
			&:before
				content: ""
				position: absolute
				top: 0
				left: 100%
				width: 10000px
				border-bottom: 1px solid #F4F4F4
	a
		position: relative
		display: block
		width: 50px
		height: 50px
		background: #F4F4F4
		line-height: 50px
		text-align: center
		font-weight: 500
		font-size: 15px
		color: #222
		transform: perspective(1px) translateZ(0)
		transition: .5s
		overflow: hidden
		.ic
			font-size: 10px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			border-radius: 100%
			background-color: #eee
			transform: scale(0)
			transition: transform 0.5s ease-out
		&:hover
			// background: #eee
			text-decoration: none
			&:before
				transform: scale(2)

.news-inn
	&__grid
		display: flex
	&__aside
		flex: 0 0 33.82%
		max-width: 33.82%
		padding-right: 104px
	&__main
		flex: 0 0 66.182%
		max-width: 66.182%
		.pagination
			margin: 35px -15px 0 0
	&__social
		margin-bottom: 40px

.aside-item
	margin-bottom: 45px
	padding-bottom: 45px
	border-bottom: 1px solid #F4F4F4
	&:last-child
		margin-bottom: 0
		padding-bottom: 0
		border-bottom: none
	&__head
		margin-bottom: 25px
		&_line
			position: relative
			padding-bottom: 15px
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				width: 40px
				border-bottom: 2px solid $color-2

.aside-menu
	margin: 0
	li
		position: relative
		margin-bottom: .55rem
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			position: absolute
			top: .4em
			left: 0
			border: 5px solid transparent
			border-left: 8px solid $color-2
			opacity: 0
			transition: .5s
		&.active
			&:before
				opacity: 1
			>a
				font-weight: bold
				transform: translateX(18px)
	a
		display: inline-block
		text-transform: uppercase
		font-weight: 500
		font-size: 14px
		color: inherit
		transition: transform .5s
		&:hover
			text-decoration: none
			transform: translateX(18px)

.aside-gallery
	display: flex
	flex-wrap: wrap
	max-width: 460px
	margin: 0 -7px -14px
	&__item
		flex: 0 0 50%
		max-width: 50%
		padding: 0 7px 14px
		.main-img
			&:before
				content: ''
				display: block
				width: 100%
				padding-bottom: 76.66%
		.main-img__img
			opacity: 1
			transform: none

.news-info
	margin-bottom: 45px
	border-right: 1px solid #F4F4F4
	&__item
		padding-right: 30px
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0
	&__head
		margin-bottom: .4rem
		color: #B4B4B4
	&__text
		margin-bottom: 0
		text-transform: uppercase
	.aside-item
		padding-right: 30px

.tags
	&__grid
		display: flex
		flex-wrap: wrap
		margin: 0 -4px -8px
	&__item
		display: inline-block
		flex: 0 1 auto
		min-width: 90px
		margin: 0 4px 8px
		padding: 4px 10px
		border-radius: 13px
		background: #F4F4F4
		text-align: center
		text-transform: uppercase
		font-weight: 500
		font-size: 12px
		color: #222
		transition: .5s
		&:hover
			background: #eee
			text-decoration: none

.post
	position: relative
	&__img
		height: 312px
		margin-bottom: 45px
	&__title
		position: relative
		margin-bottom: 40px
		transition: 0.3s ease
		&:hover
			~ .post__decor-image
				opacity: 1
				visibility: visible
				transform: translateY(-20px) scale(1, 1)
	&__decor-image
		position: absolute
		top: 0
		left: 65%
		width: 450px
		opacity: 0
		visibility: hidden
		transition: 0.8s cubic-bezier(0.37, 0, 0.21, 1.02)
		transform: translateY(200px) scale(0.8, 1.7)
		transform-origin: top center
		pointer-events: none

.about
	background: url('../img/text-gladiator.svg') no-repeat 50% 25px
	&__wrap
		max-width: 1025px
		margin: 0 auto
	&__quote
		max-width: 560px
		margin: 0 auto 85px
		text-align: center
		blockquote
			padding: 60px 0 0
			background-position: center top
	&__name
		margin-top: 30px
		text-transform: uppercase
	&__video
		margin-bottom: 45px

.about-contacts
	margin-top: 90px
	display: flex
	flex-wrap: wrap
	&__main,
	&__form
		flex: 0 0 50%
		max-width: 50%
	&__main
		padding: 65px 65px 60px
		background: #F4F4F4
	&__form
		padding: 65px 0 0 65px

.contacts-inn
	box-shadow: inset 0 -1px 0 #F4F4F4
	&__grid
		display: flex
		align-items: flex-end
	&__left
		flex: 0 0 42.55%
		max-width: 42.55%
		padding-right: 120px
	&__right
		flex: 0 0 57.45%
		max-width: 57.45%

.contacts
	&__title
		margin-bottom: 30px
	&__action
		margin-top: 45px
		line-height: 0

.contact-item
	margin-bottom: 30px
	&:last-child
		margin-bottom: 0
	>*
		margin-bottom: 0
	&__head
		margin-bottom: 1rem

.contacts-slider
	max-width: 710px
	.swiper-nav
		left: auto
		right: 50px

.contact-slide
	&:before
		content: ''
		display: block
		width: 100%
		padding-bottom: 74.64%
	&__wrap
		position: absolute
		top: 0
		left: 50px
		right: 0
		bottom: 50px
		background-color: #F4F4F4
		background-position: center
		background-size: cover
		transition: 1.5s
		#main-map
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
	&.swiper-slide-next
		z-index: 1
		opacity: 1 !important
	&.swiper-slide-active
		z-index: 2
		.contact-slide__wrap
			transform: translate(-50px, 50px)

.faq
	&__grid
		display: flex
		flex-wrap: wrap
		margin: 0 -12px -15px
	&__col
		flex: 0 0 50%
		max-width: 50%
		padding: 0 12px

.faq-item
	background: #F4F4F4
	margin-bottom: 15px
	&__button
		position: relative
		display: block
		width: 100%
		padding: 22px 70px 22px 35px
		background: none
		border: none
		text-align: left
		font-family: $font-2
		font-weight: bold
		font-size: 18px
		color: #222
		transition: .5s
		.ic
			position: absolute
			top: 50%
			right: 30px
			margin: -8px 0 0
			font-size: 16px
			color: $color
			transition: .5s
		&:hover
			color: $color
		&.active
			.ic
				transform: rotate(180deg)
				color: $color-2
	&__hidden
		display: none
		padding: 0 35px 35px

.error-inn
	background-position: 50% 20px
	background-repeat: no-repeat
.error-inn_404
	background-image: url('../img/text-not-found.svg')

.error-inn
	&__grid
		display: flex
		align-items: center
		max-width: 1025px
		margin: 0 auto
	&__img
		flex: 0 0 50%
		max-width: 50%
		img
			display: block
	&__content
		flex: 0 0 50%
		max-width: 50%
		padding-left: 50px
		margin-top: -20px
		.content
			min-height: 125px
			margin-bottom: 25px

.catalog
	&__wrapper
		padding: 0 80px 0 105px
	&__wrap
		display: flex
		flex-wrap: wrap
	&__main
		flex: 0 0 70%
		max-width: 70%
		padding-right: 50px
		&:first-child:last-child
			flex: 0 0 100%
			max-width: 100%
			padding: 0
		.pagination
			margin-left: 289px
	&__aside
		flex: 0 0 30%
		max-width: 30%
		padding-left: 70px
	&__grid
		display: flex
		flex-wrap: wrap
		margin: 0 -45px -90px
		&--favorite
			margin: 0 -69px -90px
	&__col
		flex: 0 0 290px
		max-width: 290px
		margin: 0 45px 90px
		&--favorite
			margin: 0 69px 90px

.filter-toggle
	display: none
	width: 100%
	padding: 14px
	background: none
	border: 2px solid #222
	text-transform: uppercase
	line-height: 1.3
	font-weight: 500
	font-size: 14px
	text-align: center
	transition: .5s
	&__wrap
		position: relative
		padding-left: 38px
		img
			position: absolute
			top: 50%
			left: 0
			margin-top: -12px
	&:hover
		background: rgba(34,34,34,.1)
	&.active
		background: #222
		color: #fff

.filter
	&__grid
		display: flex
		flex-wrap: wrap
		margin: 0 0 -50px
	&__item
		flex: 0 0 100%
		max-width: 100%
		margin-bottom: 50px
	&__head
		position: relative
		margin-bottom: 40px
		&:before
			content: ''
			position: absolute
			bottom: -15px
			left: 0
			width: 40px
			border-bottom: 2px solid $color-2
	&__options
		// max-width: 245px
		.form-item
			max-width: 260px
			// max-width: 81.6323531%
			// max-width: 200px
	&__action
		.btn
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0

.labels
	margin: 0 -5px -5px 0
	&__item
		display: inline-block
		vertical-align: middle
		padding: 1px 9px 0
		margin: 0 5px 5px 0
		min-width: 50px
		border: 1px solid currentColor
		text-transform: uppercase
		text-align: center
		font-size: 12px
		line-height: 22px

// span.labels__item
// 	cursor: default

.catalog-item
	position: relative
	padding: 20px 0 0
	&__labels
		position: absolute
		z-index: 1
		top: 0
		left: 0
	&__icons
		position: absolute
		z-index: 1
		top: 0
		right: 0
		.ic
			display: inline-block
			vertical-align: middle
			margin-right: 10px
			width: 25px
			text-align: center
			line-height: 25px
			font-size: 25px
			color: inherit
			transition: color .5s
			&.active
				color: $color-2
		a.ic
			&:hover
				text-decoration: none
				color: $color-2
	&__img
		display: block
		position: relative
		z-index: 1
		height: 380px
		margin-bottom: 27px
		&:before
			content: ''
			position: absolute
			z-index: -1
			height: 255px
			left: 0
			right: 0
			bottom: -40px
			background: #F4F4F4
			transition: .7s
		img
			filter: drop-shadow(0 5px 10px rgba(#000,.2))
			// filter: drop-shadow(0 15px 35px rgba(#000,.2))
			transition: .7s
	&__content
		position: relative
		z-index: 2
		text-align: center
	&__head
		transition: .7s
	.price
		transition: .7s
	.rating
		margin-top: 14px
	&:hover
		.catalog-item__head
			transform: translateY(-20px)
			.link-head:hover
				color: inherit
		.price
			transform: translateY(-10px)
		.catalog-item__img
			img
				transform: translateY(-10px)
			&:before
				background: #FA8888
				box-shadow: $shadow
		.catalog-item__icons
			a.ic.active
				font-size: 16px
				color: #222
				&:before
					content: "\e912"
				&:hover
					color: $color-2

.price
	&__wrap
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		margin: 0 -6px -10px
		line-height: 1.3
		font-weight: 500
		font-size: 15px
		>*
			margin: 0 6px 10px
	&__new
		font-size: 22px
	&__old
		text-decoration: line-through
		color: $color

.price_big
	.price
		&__wrap
			font-weight: bold
			font-size: 16px
		&__new
			font-size: 28px

.rating
	display: inline-flex
	align-items: center
	*
		margin-bottom: 0
	&__list
		display: inline-flex
		padding: 0
		font-size: 12px
		color: $color-dark
		li
			flex: 0 1 auto
			margin-right: 4px
			&:last-child
				margin-right: 0
	&_stars-1
		li:nth-child(-n+1)
			color: $color-2
	&_stars-2
		li:nth-child(-n+2)
			color: $color-2
	&_stars-3
		li:nth-child(-n+3)
			color: $color-2
	&_stars-4
		li:nth-child(-n+4)
			color: $color-2
	&_stars-5
		li:nth-child(-n+5)
			color: $color-2

.rating_dark
	.rating__list
		color: #D0D0D0
	&.rating
		&_stars-1
			li:nth-child(-n+1)
				color: $color-dark
		&_stars-2
			li:nth-child(-n+2)
				color: $color-dark
		&_stars-3
			li:nth-child(-n+3)
				color: $color-dark
		&_stars-4
			li:nth-child(-n+4)
				color: $color-dark
		&_stars-5
			li:nth-child(-n+5)
				color: $color-dark

.product
	&__wrapper
		position: relative
		z-index: 5
		min-height: 550px
		padding: 0 0 0 555px
		&:before
			content: ''
			position: absolute
			z-index: -1
			top: 105px
			left: 0
			right: 0
			bottom: 70px
			// height: 350px
			background: #F4F4F4
	&__wrap
		padding: 40px 0 25px
		min-height: 405px
	&__content
		padding-right: 50px
	&__title
		margin-bottom: 30px
	&__price
		margin-top: 35px
		.price__wrap
			justify-content: flex-start

.product-top
	display: flex
	flex-wrap: wrap
	margin: 0 -13px 60px
	>*
		flex: 0 1 auto
		margin: 0 13px 15px
	&__rating
		flex: 1 0 0

.product-slider
	position: absolute
	top: 0
	left: 0
	padding: 0 15px
	width: 530px
	.swiper-container
		overflow: visible
	.swiper-pagination
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.swiper-container-horizontal
		.swiper-pagination-bullets
			top: 105px
			left: auto
			right: 100%
			margin: 0 15px 0 0
			max-width: 65px
			height: 350px
			.swiper-pagination-bullet
				margin: 0 0 25px
				&:last-child
					margin-bottom: 0
	.swiper-nav
		z-index: auto
		left: 50%
		bottom: 45px
		width: 380px
		margin-left: -190px
		justify-content: space-between
		.swiper-button-prev,
		.swiper-button-next
			z-index: 10
			margin: 0
			background: #2a2e46

.product-slide
	opacity: 0
	&:first-of-type
		opacity: 1
	&__img
		height: 550px
		img
			filter: drop-shadow(-25px 15px 25px rgba(#000,.2))

.product-action
	background: #fff
	&__grid
		position: relative
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		padding-right: 270px
		height: 155px
	&__fav
		flex: 0 1 auto
		margin-right: 25px
	&__more
		flex: 1 0 0
		margin-top: 30px
	&__thumbs
		position: absolute
		top: 65px
		right: 250px
		display: flex
		flex-wrap: wrap
	&__thumb
		// cursor: pointer
		position: relative
		display: block
		margin-right: 15px
		margin-bottom: 15px
		width: 90px
		height: 90px
		background: #F4F4F4
		&:before
			content: ''
			position: absolute
			top: 100%
			left: 0
			right: 0
			border-bottom: 2px solid $color-2
			opacity: 0
			transition: .5s
		img
			max-width: 90%
			max-height: 90%
			filter: drop-shadow(0 3px 2px rgba(#000,.15))
		&:hover,
		&.active
			&:before
				opacity: 1
				transform: translateY(6px)
	&__video
		display: block
		position: absolute
		bottom: 0
		right: 0
		width: 250px
		height: 100%
		background-position: center
		background-size: cover
		box-shadow: 5px 10px 40px rgba(#000,.25)
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			width: 68px
			height: 68px
			border-radius: 50%
			background: $color url('../img/ic-play.svg') no-repeat 58% 50%
			transition: .5s
		&:hover
			&:before
				background-color: lighten($color,3%)

.product-specs
	display: flex
	align-items: flex-end
	margin-top: 120px
	&__left
		flex: 0 0 59.45%
		max-width: 59.45%
	&__table
		padding: 25px 45px
		border: 30px solid #F4F4F4
		background: #fff
	&__form
		flex: 0 0 40.55%
		max-width: 40.55%
		padding: 70px 65px
		background: #00A8BA
		color: #fff
		.form__title
			margin-bottom: 45px

.product-advants
	overflow: hidden
	position: relative
	&:after
		content: ''
		position: absolute
		bottom: 0
		right: -4px
		width: 155px
		height: 1145px
		background: url('../img/text-supboard_v.svg')


.product-advant
	display: flex
	align-items: flex-start
	&:nth-child(2n)
		margin-top: -210px
		align-items: flex-end
		.product-advant__img
			flex: 0 0 500px
			max-width: 500px
			order: 1
			height: 615px
		.product-advant__content
			padding: 240px 65px 45px
			text-align: right
	&:nth-child(2n+1):last-child
		.product-advant__content
			padding-bottom: 0
	&__img
		flex: 0 0 605px
		max-width: 605px
		height: 735px
	&__content
		position: relative
		z-index: 2
		flex: 1 0 0
		padding: 80px 65px 250px
		h2
			margin-bottom: 1.5rem

.product-info
	&__top
		display: flex
		align-items: flex-start
	&__logo
		overflow: hidden
		&--first
			margin-right: 105px
			width: 108px
			height: 108px
		&--second
			margin-left: 40px
			width: 305px
			height: 68px
	&__properties
		display: flex
		flex-grow: 1
	&__property
		display: flex
		align-items: center
		width: 33%
		min-width: 230px
		text-transform: uppercase
	&__property-img
		margin-right: 20px
		width: 50px
		height: 50px
		overflow: hidden
	&__grid
		display: flex
		align-items: center
		// padding-left: 25px
	&__list
		flex: 1 0 0
		margin: 0
		width: 27.5080906%
		// min-width: 345px
		text-transform: uppercase
		font-weight: 500
		font-size: 14px
		li
			// cursor: pointer
			position: relative
			padding-left: 20px
			margin-bottom: 1.7rem
			&:last-child
				margin-bottom: 0
			span
				position: absolute
				top: 50%
				left: 0
				width: 9px
				height: 9px
				background: $color-dark
				border-radius: 50%
				transition: 0.5s
				transform: translateY(-50%) scale(0.55)
				&::before
					content: ""
					position: absolute
					top: 2px
					left: 2px
					width: 5px
					height: 5px
					background: $color-2
					border-radius: 50%
					transition: 0.5s
					transform: scale(0)
			.ic
				position: absolute
				top: 50%
				left: 0
				margin: -16px 0 0
				font-size: 32px
				color: $color-2
				transition: .5s
				span
					position: absolute
					top: 0
					left: 0
					right: 7px
					font-family: $font
					text-align: center
					line-height: 32px
					font-weight: 500
					font-size: 15px
					color: #fff
			&.active
				span
					box-shadow: 1px 5px 6px rgba(#000, .19)
					transform: translateY(-50%) scale(1)
					&::before
						transform: scale(1)
				.ic
					color: $color-dark
	&__main
		position: relative
		flex: 0 0 30.5825243%
		width: 30.5825243%
		margin-left: 5.66343042%
		&--left
			margin-left: 0
			margin-right: 5.66343042%
	&__img
		display: block
		margin: 0 auto
	&__numbers
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		margin: 0
		li
			// cursor: pointer
			position: absolute
			width: 9px
			height: 9px
			border-radius: 50%
			background: $color-2
			border: 1px solid $color-dark
			box-shadow: 1px 5px 6px rgba(#000,.19)
			// text-align: center
			// line-height: 30px
			// font-weight: 500
			// font-size: 15px
			// color: #fff
			// opacity: .6
			transition: .5s
			&.active
				z-index: 1
				opacity: 1
				// border-width: 1px;
				transform: scale(2.1)

.product-addons
	&__grid
		display: flex
	&__slider
		flex: 0 0 49%
		max-width: 49%
		padding: 75px 70px 50px
		background: $color
		overflow: hidden
		.title
			position: relative
			z-index: 5
			margin-bottom: 30px
		.swiper-container
			overflow: visible
	&__slide
		.product-addons__title
			display: none
	&__slide-img
		height: 535px
		img
			&:nth-child(1)
				z-index: 1
				filter: drop-shadow(0 10px 25px rgba(#000,.2))
			&:nth-child(2)
				transform: scale(1.12) translate(65px, -40px)
				opacity: .15
	&__main
		display: flex
		flex-direction: column
		flex: 1 0 0
		padding: 75px 0 0 65px
	&__title,
	&__content
		max-width: 500px
	&__title
		margin-bottom: 40px
	&__items
		min-height: 380px
		padding-bottom: 20px
	&__item
		&:nth-child(n+2)
			display: none
	&__thumbs
		margin-top: auto
		&-wrap
			display: flex
			flex-wrap: wrap
			margin: 0 -8px -16px
	&__thumb
		// cursor: pointer
		position: relative
		z-index: 1
		margin: 0 8px 16px
		width: 100px
		height: 165px
		&:before
			content: ''
			position: absolute
			z-index: -1
			top: 25px
			left: 0
			right: 0
			bottom: 0
			background: #F4F4F4
			border-bottom: 2px solid transparent
			transition: .5s
		img
			bottom: auto
			max-width: 90%
			max-height: 90%
			filter: drop-shadow(0 3px 2px rgba(#000,.15))
		&:hover,
		&.active
			&:before
				border-color: $color



// Popups
.popup
	position: relative
	max-width: 605px
	margin: 30px auto
	padding: 55px
	background: #fff

.review-popup
	&.popup
		padding-top: 5px
		margin-top: 55px
	&__img
		margin: -45px 0 55px
		.main-img
			max-width: 220px
			&:before
				content: ''
				display: block
				width: 100%
				padding-bottom: 100%

.table-popup
	background: #F4F4F4
	&.popup
		padding: 60px 50px 50px
		max-width: 750px
	&__wrap
		padding: 25px 45px
		background: #fff


// Customized plugins
.mfp-bg
	background: $color-dark
.mfp-fade
  &.mfp-bg
    opacity: 0
    transition: all 0.4s ease-out
    &.mfp-ready
      opacity: 0.6
    &.mfp-removing
      opacity: 0
  &.mfp-wrap
    .mfp-content
      opacity: 0
      transition: all 0.4s ease-out
    &.mfp-ready .mfp-content
      opacity: 1
    &.mfp-removing .mfp-content
      opacity: 0
.mfp-close-btn-in .mfp-close
	opacity: 1
	transition: 0.5s
	&:hover
		color: red
.mfp-inline-holder .mfp-close
	width: 50px
	height: 50px
	background: #FA8888
	font-size: 0
	cursor: none
	&:before,
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		width: 22px
		height: 2px
		background: #fff
		transition: 0.25s
	&:hover
		background: darken($color,4%)
		&:before
			transform: rotate(45deg)
		&:after
			transform: rotate(-45deg)
.mfp-zoom-out-cur,
button.mfp-arrow,
.mfp-zoom-out-cur,
.mfp-image-holder,
.mfp-close,
.mfp-gallery,
.mfp-image-holder,
.mfp-figure 
  cursor: none !important


.swiper-wrapper
	transition-timing-function: cubic-bezier(.7,.08,.35,1)

.swiper-nav
	position: absolute
	z-index: 10
	left: 0
	bottom: 0
	width: 280px
	background: $color-dark
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	color: #fff
	.swiper-button-prev,
	.swiper-button-next
		position: static
		display: inline-block
		vertical-align: middle
		margin: 0
		width: 80px
		height: auto
		background: none
		line-height: 1
		font-size: 60px
		color: inherit
		transition: .5s
		cursor: none
		.ic
			display: block
			line-height: 70px
		.ic-chevron-prev,
		.ic-chevron-next
			font-size: 16px
		&:hover
			color: $color
	.swiper-button-next
		margin-left: 60px

.swiper-nav_chevron
	justify-content: space-between
	background: none
	box-shadow: 0 0 0 2px currentColor
	width: 140px
	color: #222
	.swiper-button-prev,
	.swiper-button-next
		margin: 0
		&:hover
			background: rgba(#222,.1)
			color: inherit
	&.swiper-nav_white
		color: #fff
		.swiper-button-prev,
		.swiper-button-next
			&:hover
				background: rgba(#fff,.1)

.swiper-pagination
	line-height: 0
.swiper-pagination-bullet
	width: 7px
	height: 7px
	opacity: 1
	background: #D0D0D0
	transition: .25s
.swiper-pagination-bullet-active
	background: #FFA500
.swiper-container-horizontal
	.swiper-pagination-bullets
		bottom: 0
		left: -8px
		right: -8px
		width: auto
		.swiper-pagination-bullet
			margin: 16px 8px 0

.swiper-fraction
	position: absolute
	z-index: 9
	line-height: 1
	font-weight: bold
	font-size: 32px
	color: #D0D0D0
	span:first-child
		margin-right: 5px
		font-size: 70px
		color: #222

.select2-container .select2-selection--single
	height: auto
	cursor: none
.select2-results__option[aria-selected]
	cursor: none
.select2-container--default .select2-selection--single
	border: none
	border-bottom: 2px solid #222
	border-radius: 0
	background: none
.select2-container--default .select2-selection--single .select2-selection__rendered
	padding: 0 20px 12px 0
	line-height: 1.3
	font-size: 15px
	color: #222
.select2-container--default .select2-selection--single .select2-selection__placeholder
	color: #2B2A29
.select2-container--default .select2-selection--single .select2-selection__rendered
	color: #2B2A29
.select2-container--default .select2-selection--single .select2-selection__arrow
	top: 0
	right: 0
	bottom: 0
	height: auto
	width: 10px
	b
		display: none !important
	&:before
		position: absolute
		top: 4px
		right: 0
		width: 18px
		text-align: center
		content: "\e910"
		+ic()
		font-size: 11px
		transition: .25s
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow
	&:before
		transform: rotate(180deg)
.select2-dropdown
	border-radius: 0
	border: none
	background: #fff
	box-shadow: $shadow
	line-height: 1.3
	font-size: 14px
	color: #222
.select2-results__option
	padding: 8px 10px
	margin: 0
	border-bottom: 1px solid rgba(#000,.1)
	transition: .25s
	&:last-child
		border-bottom: none
.select2-container--default .select2-results__option--highlighted[aria-selected]
	color: inherit
	background: rgba(#000,.05)
.select2-container--default .select2-results__option[aria-selected=true]
	background: $color
	color: #fff

.select-wrapper_sort
	text-transform: uppercase
	.select2-container--default
		.select2-selection--single
			.select2-selection__rendered
				padding-bottom: 13px
				font-weight: 500
				font-size: 14px
	.select2-dropdown
		font-size: 12px

.irs--round
	height: 44px
	.irs-line,
	.irs-bar
		top: 11px
		height: 2px
	.irs-line
		background: #D0D0D0
	.irs-bar
		background: $color-2
	.irs-handle
		cursor: none
		top: 0
		width: 22px
		height: 22px
		border: 5px solid $color-dark
		background: $color-2 !important
	.irs-to,
	.irs-from,
	.irs-single
		top: 28px
		background: none
		padding: 0
		line-height: 1
		font-weight: 500
		font-size: 14px
		color: #222
		&:before
			display: none

.scrollbar-track
	z-index: 100 !important
	background: #F4F4F4 !important
.scrollbar-thumb
	border-radius: 0 !important
	background: $color !important

.mfp-auto-cursor .mfp-content
	cursor: none

.ymaps-2-1-74-events-pane,
.ymaps-2-1-74-float-button,
.ymaps-2-1-63-gotoymaps-container
	cursor: none !important

.cursor
	position: absolute
	z-index: 1500
	width: 10px
	height: 10px
	border-radius: 50%
	background-color: #FFA500
	pointer-events: none
	transition: transform 0.5s cubic-bezier(0.37, 0, 0.21, 1.02)

.cursor2
	position: absolute
	z-index: 1500
	width: 40px
	height: 40px
	border-radius: 50%
	border: 1px solid rgba(205,205,230,0.5)
	pointer-events: none
	transition: transform 0.5s cubic-bezier(0.37, 0, 0.21, 1.02)


.responsive-img
	position: relative
	display: block
	background-position: center
	height: 100%
	overflow: hidden

	&:before
		content: ''
		display: block
		width: 100%
		height: 0
		padding-bottom: 100%

	>img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

img[data-object-fit="contain"]
	object-fit: contain

img[data-object-fit="cover"]
	object-fit: cover

img[data-object-fit="scale-down"]
	object-fit: scale-down

img[data-object-fit="none"]
	object-fit: none

.distributors
	margin-top: 65px
	&__form
		margin-bottom: 45px
		display: flex
		align-items: flex-end
		justify-content: space-between
		.select-wrapper
			text-transform: uppercase
		.select2-container--default .select2-selection--single .select2-selection__rendered
			padding: 15px 20px 14px 0
		.select2-container--default .select2-selection--single .select2-selection__arrow:before
			top: 50%
			margin-top: -6px
		.btn
			padding: 16px
			min-width: 185px
	.form-item
		width: 395px
		margin-right: 20px
		margin-bottom: 0
	&__map
		margin-bottom: 50px
		width: 100%
		height: 500px

		ymaps
			cursor: none !important

	&__country
		display: inline-block
		vertical-align: top
		margin-bottom: 20px
		font-size: 30px
		line-height: 38px
		font-weight: 700
	&__list
		display: flex
		flex-wrap: wrap
		margin-bottom: 0
	&__item
		position: relative
		margin-bottom: 70px
		margin-right: 6.23481781%
		width: 27.854251%
	&__item:nth-child(3n)
		margin-right: 0
	&__name
		display: inline-block
		vertical-align: top
		margin-bottom: 20px
		font-size: 14px
		line-height: 22px
		font-weight: 500
		text-transform: uppercase
		&:hover ~ .distributors__decor-image
			opacity: 1
			visibility: visible
			transform: translateY(0) scale(1, 1)
	&__address
		margin-bottom: 0
	&__phone
		display: block
	&__actions
		text-align: center
	&__decor-image
		position: absolute
		top: 0
		right: 0
		width: 220px
		opacity: 0
		visibility: hidden
		transition: 0.8s cubic-bezier(0.37, 0, 0.21, 1.02)
		transform: translateY(100px) scale(0.8, 1.7)
		transform-origin: top center
		pointer-events: none


@import "media"
